svg.demo .target-path {
  fill: none;
  stroke: #252525;
  stroke-width: 1;
  stroke-linecap: square;
  stroke-miterlimit: 10; }

.horizontal-pan div {
  position: absolute; }
  .horizontal-pan div div {
    position: static; }
