/*default sass*/
svg.demo .target-path {
  fill: none;
  stroke: #252525;
  stroke-width: 1;
  stroke-linecap: square;
  stroke-miterlimit: 10; }

/********************************************** LOAD CUSTOM FONTS **********************************************/
@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-thin.woff") format("woff");
  src: url("../fonts/lato-thin.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light.ttf") format("ttf");
  src: url("../fonts/lato-light.woff") format("woff");
  src: url("../fonts/lato-light.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular.ttf") format("ttf");
  src: url("../fonts/lato-regular.woff") format("woff");
  src: url("../fonts/lato-regular.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold.woff") format("woff");
  src: url("../fonts/lato-bold.woff2") format("woff2");
  font-weight: 300; }

@font-face {
  font-family: 'oraqlescript';
  src: url("../fonts/OraqleScript.otf") format("otf");
  src: url("../fonts/OraqleScript.ttf") format("ttf");
  src: url("../fonts/OraqleScript.woff") format("woff");
  font-weight: 400; }

/********************************************** START MIXINS **********************************************/
/* Header */
/* Video Format Icons */
/* Mike King Icons (copyright pixelHeadsLtd) */
/* end */
/* pagination */
/* client logo */
.row {
  width: 100%; }
  .row .col {
    display: inline-block; }

section.new-section {
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0 0 20px 0;
  position: relative;
  min-height: 924px; }

section.new-section.home {
  text-align: center;
  background: url("../images/mike.png") no-repeat center top 40px; }
  section.new-section.home .home-wrapper {
    padding-top: 400px; }
  section.new-section.home h1 {
    font-size: 6rem !important;
    width: 100%;
    margin: 20px 0 0 0 !important;
    padding-left: 0; }
    section.new-section.home h1 span.ellipsis {
      color: #e6233e;
      letter-spacing: .2rem;
      padding-left: 8px; }
  section.new-section.home p {
    text-align: center;
    display: inline-block;
    line-height: 1.6rem !important;
    margin: 0 auto; }
  section.new-section.home .social {
    width: 100%;
    display: inline-block;
    margin: 14px auto; }
    section.new-section.home .social a {
      width: 25px;
      height: 25px;
      display: inline-block;
      margin: 0 10px; }
      section.new-section.home .social a img {
        width: 100%;
        height: 100%; }

section.new-section.about {
  background-color: #076c9b;
  border-bottom: 45px solid #fff;
  min-height: 879px; }
  section.new-section.about .row {
    padding-top: 50px; }
  section.new-section.about .comment {
    color: #83c2e4 !important; }
  section.new-section.about h1 {
    color: #fff; }
  section.new-section.about p {
    color: #fff;
    font: bold 12px "latolight"; }
  section.new-section.about .icons {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 180px; }
    section.new-section.about .icons div {
      display: inline-block;
      margin: 0 6%; }
      section.new-section.about .icons div p {
        margin-top: 5px;
        font-size: .62rem; }
        section.new-section.about .icons div p span {
          color: #fbc900; }

section.new-section.projects .projects-header {
  width: 100% !important;
  display: inline-block;
  text-align: center; }
  section.new-section.projects .projects-header nav {
    white-space: nowrap;
    margin: 0 auto;
    display: inline-block;
    width: 100%; }
    section.new-section.projects .projects-header nav a {
      height: 20px;
      display: inline-block;
      margin: 15px 20px 25px 20px;
      padding: 0;
      cursor: pointer;
      color: #888 !important;
      font: 300 0.75rem "latoregular";
      text-transform: uppercase; }
    section.new-section.projects .projects-header nav a:hover {
      border-bottom: 2px solid #e6233e;
      text-decoration: none; }
    section.new-section.projects .projects-header nav .row {
      margin-right: 0;
      margin-left: 0; }
      section.new-section.projects .projects-header nav .row .col-lg-3 {
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
        padding: 0; }
      section.new-section.projects .projects-header nav .row img {
        width: 100%;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
      section.new-section.projects .projects-header nav .row figure:hover a {
        opacity: 1; }
      section.new-section.projects .projects-header nav .row figure {
        margin: 0;
        position: relative;
        overflow: hidden; }
        section.new-section.projects .projects-header nav .row figure .tint {
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -ms-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
          position: absolute;
          background: #000000;
          width: 100%;
          height: 100%;
          opacity: 0; }
        section.new-section.projects .projects-header nav .row figure a {
          color: #fff;
          text-transform: uppercase;
          position: absolute;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          text-align: center;
          opacity: 0;
          margin: 0;
          padding-top: 25.5%;
          border: none; }
          section.new-section.projects .projects-header nav .row figure a h3 {
            color: #fff;
            letter-spacing: .2rem;
            font-size: .85rem; }
          section.new-section.projects .projects-header nav .row figure a p {
            letter-spacing: .2rem;
            font-family: 'latolight';
            font-size: .65rem;
            color: #fff; }
      section.new-section.projects .projects-header nav .row .bbc-is-active a {
        padding-top: 50% !important; }
    section.new-section.projects .projects-header nav figure:hover img,
    section.new-section.projects .projects-header nav a.umg:hover ~ .row div .umg-is-active img,
    section.new-section.projects .projects-header nav a.turner:hover ~ .row div .turner-is-active img,
    section.new-section.projects .projects-header nav a.bbc:hover ~ .row div .bbc-is-active img,
    section.new-section.projects .projects-header nav a.monum:hover ~ .row div .monum-is-active img,
    section.new-section.projects .projects-header nav a.setanta:hover ~ .row div .setanta-is-active img,
    section.new-section.projects .projects-header nav a.guinness:hover ~ .row div .guinness-is-active img {
      width: 105%;
      margin: -3.8% auto auto -2%; }
    section.new-section.projects .projects-header nav figure:hover img.tall,
    section.new-section.projects .projects-header nav a.umg:hover ~ .row div .umg-is-active img.tall,
    section.new-section.projects .projects-header nav a.turner:hover ~ .row div .turner-is-active img.tall,
    section.new-section.projects .projects-header nav a.bbc:hover ~ .row div .bbc-is-active img.tall,
    section.new-section.projects .projects-header nav a.monum:hover ~ .row div .monum-is-active img.tall,
    section.new-section.projects .projects-header nav a.setanta:hover ~ .row div .setanta-is-active img.tall,
    section.new-section.projects .projects-header nav a.guinness:hover ~ .row div .guinness-is-active img.tall {
      margin: -7.6% auto auto -2%; }
    section.new-section.projects .projects-header nav figure:hover .tint,
    section.new-section.projects .projects-header nav a.umg:hover ~ .row div .umg-is-active .tint,
    section.new-section.projects .projects-header nav a.turner:hover ~ .row div .turner-is-active .tint,
    section.new-section.projects .projects-header nav a.bbc:hover ~ .row div .bbc-is-active .tint,
    section.new-section.projects .projects-header nav a.monum:hover ~ .row div .monum-is-active .tint,
    section.new-section.projects .projects-header nav a.setanta:hover ~ .row div .setanta-is-active .tint,
    section.new-section.projects .projects-header nav a.guinness:hover ~ .row div .guinness-is-active .tint {
      opacity: 0.8;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
    section.new-section.projects .projects-header nav figure:hover a,
    section.new-section.projects .projects-header nav a.umg:hover ~ .row div .umg-is-active a,
    section.new-section.projects .projects-header nav a.turner:hover ~ .row div .turner-is-active a,
    section.new-section.projects .projects-header nav a.bbc:hover ~ .row div .bbc-is-active a,
    section.new-section.projects .projects-header nav a.monum:hover ~ .row div .monum-is-active a,
    section.new-section.projects .projects-header nav a.setanta:hover ~ .row div .setanta-is-active a,
    section.new-section.projects .projects-header nav a.guinness:hover ~ .row div .guinness-is-active a {
      opacity: 1; }

section.new-section.contact {
  background-color: #fbc900;
  text-align: center; }
  section.new-section.contact h3 {
    color: #fff; }
  section.new-section.contact img {
    width: 155px; }
  section.new-section.contact ul.contact-panel {
    width: 100%;
    margin: 40px 0 0 0; }
    section.new-section.contact ul.contact-panel li {
      display: inline-block;
      background-position: center left !important;
      background-size: 25px !important;
      background-repeat: no-repeat !important;
      padding: 5px 30px; }
      section.new-section.contact ul.contact-panel li a {
        color: #252525; }
    section.new-section.contact ul.contact-panel li:nth-child(1) {
      background: url(../images/icons/icon-phone.svg); }
    section.new-section.contact ul.contact-panel li:nth-child(2) {
      background: url(../images/icons/icon-location.svg); }
    section.new-section.contact ul.contact-panel li:nth-child(3) {
      background: url(../images/icons/icon-email.svg); }

.App {
  padding: 0; }
  .App .is-sticky .sub-nav {
    position: fixed;
    top: 50px;
    z-index: 0;
    opacity: 0.95; }
  .App ul {
    margin: 0;
    padding: 0 0 0 16px; }
    .App ul li {
      margin: 0 0 5px 0;
      padding: 0; }
  .App table th {
    white-space: nowrap;
    color: #bbbbbb;
    font-weight: 300;
    font-size: 0.9rem;
    padding: 0 40px 5px 0; }
  .App table th, .App table td {
    text-align: left; }
  .App table tbody td {
    vertical-align: top;
    padding: 0 40px 20px 0;
    color: #444444; }
    .App table tbody td li {
      margin: 0; }

/********************************************** LOAD CUSTOM FONTS **********************************************/
@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-thin.woff") format("woff");
  src: url("../fonts/lato-thin.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light.ttf") format("ttf");
  src: url("../fonts/lato-light.woff") format("woff");
  src: url("../fonts/lato-light.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular.ttf") format("ttf");
  src: url("../fonts/lato-regular.woff") format("woff");
  src: url("../fonts/lato-regular.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold.woff") format("woff");
  src: url("../fonts/lato-bold.woff2") format("woff2");
  font-weight: 300; }

@font-face {
  font-family: 'oraqlescript';
  src: url("../fonts/OraqleScript.otf") format("otf");
  src: url("../fonts/OraqleScript.ttf") format("ttf");
  src: url("../fonts/OraqleScript.woff") format("woff");
  font-weight: 400; }

/********************************************** START MIXINS **********************************************/
/* Header */
/* Video Format Icons */
/* Mike King Icons (copyright pixelHeadsLtd) */
/* end */
/* pagination */
/* client logo */
html body.projects {
  background-size: 100%;
  font-family: 'latoregular';
  font-size: .75rem;
  margin: 0;
  padding: 0; }
  html body.projects .App {
    overflow: hidden;
    letter-spacing: .04rem;
    /* Links */
    /* Lists */
    /* Text */
    /* Layout */
    /* Helpers */ }
    html body.projects .App .container-fluid {
      background: #fff; }
    html body.projects .App .container-fluid.fullwidth {
      padding-right: 0 !important;
      padding-left: 0 !important; }
      html body.projects .App .container-fluid.fullwidth .row {
        margin-right: 0;
        margin-left: 0;
        padding-right: 40px;
        padding-left: 40px; }
    html body.projects .App h4 {
      color: #252525;
      font: 600 0.9rem "latoregular";
      margin: 0 0 6px 0;
      text-transform: uppercase;
      letter-spacing: .2rem; }
    html body.projects .App figure:hover a {
      opacity: 1; }
    html body.projects .App figure:hover .tint {
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      opacity: 0.6; }
    html body.projects .App figure {
      margin: 0;
      position: relative;
      overflow: hidden; }
      html body.projects .App figure .tint {
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        position: absolute;
        background: #000000;
        width: 100%;
        height: 100%;
        opacity: 0; }
      html body.projects .App figure a {
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        margin: 0;
        padding-top: 25.5%;
        border: none; }
        html body.projects .App figure a h3 {
          color: #fff;
          letter-spacing: .2rem;
          font-size: .85rem; }
        html body.projects .App figure a p {
          letter-spacing: .2rem;
          font-family: 'latolight';
          font-size: .65rem;
          color: #fff; }
    html body.projects .App .banner.umg-active nav.projects-menu ul li:nth-child(1) a {
      color: #fff; }
      html body.projects .App .banner.umg-active nav.projects-menu ul li:nth-child(1) a i {
        display: block; }
    html body.projects .App .banner.turner-active nav.projects-menu ul li:nth-child(2) a {
      color: #fff; }
      html body.projects .App .banner.turner-active nav.projects-menu ul li:nth-child(2) a i {
        display: block; }
    html body.projects .App .banner.bbc-active nav.projects-menu ul li:nth-child(3) a {
      color: #fff; }
      html body.projects .App .banner.bbc-active nav.projects-menu ul li:nth-child(3) a i {
        display: block; }
    html body.projects .App .banner.monum-active nav.projects-menu ul li:nth-child(4) a {
      color: #fff; }
      html body.projects .App .banner.monum-active nav.projects-menu ul li:nth-child(4) a i {
        display: block; }
    html body.projects .App .banner.setanta-active nav.projects-menu ul li:nth-child(5) a {
      color: #fff; }
      html body.projects .App .banner.setanta-active nav.projects-menu ul li:nth-child(5) a i {
        display: block; }
    html body.projects .App .banner.guinness-active nav.projects-menu ul li:nth-child(6) a {
      color: #fff; }
      html body.projects .App .banner.guinness-active nav.projects-menu ul li:nth-child(6) a i {
        display: block; }
    html body.projects .App .banner {
      background-position: center center;
      background-repeat: no-repeat;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      /* Projects Headers */ }
      html body.projects .App .banner nav.downloads-menu {
        position: absolute;
        top: 60px;
        right: 60px; }
        html body.projects .App .banner nav.downloads-menu ul {
          padding: 0; }
          html body.projects .App .banner nav.downloads-menu ul li {
            display: block;
            margin: 0 0 2px 0;
            text-align: right; }
            html body.projects .App .banner nav.downloads-menu ul li a:hover {
              color: #fff !important; }
            html body.projects .App .banner nav.downloads-menu ul li a {
              color: #e6233e !important;
              font-family: 'latoregular';
              letter-spacing: .05rem;
              font-size: .65rem; }
      html body.projects .App .banner nav.projects-menu {
        position: absolute;
        z-index: 1; }
        html body.projects .App .banner nav.projects-menu h4 {
          color: #fff;
          font-size: .8rem;
          font-family: 'latolight'; }
        html body.projects .App .banner nav.projects-menu ul {
          padding: 0; }
          html body.projects .App .banner nav.projects-menu ul li {
            font-size: .65rem;
            position: relative; }
            html body.projects .App .banner nav.projects-menu ul li a:hover {
              color: #fff; }
            html body.projects .App .banner nav.projects-menu ul li a {
              color: #888;
              font-family: 'latoregular';
              letter-spacing: .05rem; }
              html body.projects .App .banner nav.projects-menu ul li a i {
                display: none;
                width: 7px;
                height: 7px;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                transform: rotate(45deg);
                position: absolute;
                left: -14px;
                top: 3px; }
      html body.projects .App .banner .projects-header {
        width: 100%;
        display: inline-block;
        text-align: center;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0; }
        html body.projects .App .banner .projects-header h1 {
          color: white; }
        html body.projects .App .banner .projects-header p {
          text-transform: uppercase;
          font-size: .6rem;
          text-align: left;
          line-height: 1.1rem;
          margin: 0;
          padding: 0;
          color: #999;
          letter-spacing: .2rem; }
          html body.projects .App .banner .projects-header p label {
            float: left;
            clear: left;
            width: 100%;
            text-transform: uppercase;
            color: #ff0049; }
        html body.projects .App .banner .projects-header h3 {
          text-align: left;
          margin: 0 0 3px 0;
          padding: 0 0 3px 0;
          border-bottom: 1px dashed #666;
          width: 100%;
          float: left;
          text-transform: uppercase;
          color: white;
          font-family: 'latolight';
          letter-spacing: .3rem;
          font-size: .8rem;
          font-weight: bolder; }
        html body.projects .App .banner .projects-header ul {
          margin: 0 60px;
          padding: 0;
          float: none; }
          html body.projects .App .banner .projects-header ul li {
            display: block;
            margin: 0;
            padding: 0;
            width: 25%;
            float: left; }
    html body.projects .App a {
      color: #00a3cc;
      text-decoration: none; }
    html body.projects .App a:hover {
      color: #252525;
      text-decoration: none; }
    html body.projects .App ul li {
      margin: 0 0 10px 0; }
    html body.projects .App h1 {
      font-family: 'latobold';
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: .4rem;
      color: #ff0049; }
    html body.projects .App h2 {
      font-family: 'oraqlescript';
      font-weight: lighter;
      margin: 25px 0 10px 0; }
    html body.projects .App h3 {
      color: #ff0049;
      font-family: latobold;
      font-size: 1rem; }
    html body.projects .App p {
      line-height: 1.5rem;
      margin-top: 0; }
    html body.projects .App p label {
      width: 100%;
      color: #ff0049;
      margin-bottom: 0;
      font-size: .95rem;
      letter-spacing: .05rem; }
    html body.projects .App img.to-the-right-edge {
      float: right;
      margin-right: -90px; }
    html body.projects .App .row {
      margin-right: 0;
      margin-left: 0; }
    html body.projects .App .w-25 {
      width: 25%; }
    html body.projects .App .w-50 {
      width: 50%; }
    html body.projects .App .height-1000 {
      height: 1000px; }
    html body.projects .App .absolute-right {
      position: absolute;
      right: 0; }

/* ------------------------------------------------- Project Specific ------------------------------------------------ */
html body.umg .App img.pdf {
  width: 12px;
  margin: -3px 5px 0 0; }

html body.umg .App .row .red-panel {
  background-color: #e6233e;
  padding-top: 20px;
  color: #fff; }
  html body.umg .App .row .red-panel h4 {
    color: #fff; }

html body.umg .App .container-fluid {
  background: #fff url("../images/clients/pages/umg/background.png") no-repeat 0 0;
  background-size: 100%; }

html body.umg .App .banner {
  background-image: url("../images/clients/pages/umg/banner.png");
  background-color: #000000; }

html body.turner .App img.personas {
  width: 100%;
  margin-top: -160px; }

html body.turner .App .row .red-panel {
  background-color: #e6233e;
  color: #fff; }
  html body.turner .App .row .red-panel label {
    color: #fff; }

html body.turner .App .container-fluid {
  background-size: 100%; }
  html body.turner .App .container-fluid img.batman {
    width: 170%;
    margin-top: -96px;
    vertical-align: middle;
    border-style: none;
    position: absolute;
    z-index: 1; }
  html body.turner .App .container-fluid .row.carousel {
    overflow: hidden;
    max-height: 200px;
    border-top: 1px dashed #fbc900;
    background: #fcfcff; }
    html body.turner .App .container-fluid .row.carousel img {
      width: 100%; }
  html body.turner .App .container-fluid .row.ctn-ntw {
    padding-top: 80px;
    background-color: #dc1f0a; }
    html body.turner .App .container-fluid .row.ctn-ntw img.adv-time {
      position: absolute;
      top: -240px;
      right: 395px;
      width: 400px; }
  html body.turner .App .container-fluid .row.scooby {
    min-height: 400px;
    margin-top: 123px;
    padding-top: 100px; }
    html body.turner .App .container-fluid .row.scooby p, html body.turner .App .container-fluid .row.scooby h4 {
      color: #fff; }
    html body.turner .App .container-fluid .row.scooby h4 {
      line-height: 24px; }
    html body.turner .App .container-fluid .row.scooby img.scooby-van {
      position: absolute;
      left: -40px; }
  html body.turner .App .container-fluid .row.as {
    padding-top: 80px;
    background-color: #dc1f0a; }

html body.turner .App .banner {
  background-image: url("../images/clients/pages/turner/banner.png");
  background-color: #000000; }

html body.bbc .App .container-fluid {
  background: #fff url("../images/clients/pages/bbc/tyre-marks-grey.png") no-repeat;
  background-position: top right -322px;
  background-size: 1200px; }
  html body.bbc .App .container-fluid .row {
    margin-right: 0 !important;
    margin-left: 0 !important; }
    html body.bbc .App .container-fluid .row .col-xs-12, html body.bbc .App .container-fluid .row .col-sm-12, html body.bbc .App .container-fluid .row .col-md-12, html body.bbc .App .container-fluid .row .col-lg-12 {
      padding-right: 10%;
      padding-left: 10%; }
  html body.bbc .App .container-fluid .row.youtube {
    position: relative; }
    html body.bbc .App .container-fluid .row.youtube ul {
      position: absolute;
      top: 82%;
      left: 34%;
      width: 100%; }
      html body.bbc .App .container-fluid .row.youtube ul li {
        display: inline-block;
        width: 20%;
        margin-right: 10%; }
        html body.bbc .App .container-fluid .row.youtube ul li p, html body.bbc .App .container-fluid .row.youtube ul li h4 {
          color: #fff; }
  html body.bbc .App .container-fluid .row.topgear-grouped {
    margin-top: -100px; }

html body.bbc .App .banner {
  background-image: url("../images/clients/pages/bbc/banner.png");
  background-color: #000000; }

html body.monum .App .banner {
  background-image: url("../images/clients/pages/monum/banner.png");
  background-color: #000000;
  background-position: center bottom 63px !important; }

html body.setanta .App .banner {
  background-image: url("../images/clients/pages/setanta/banner.png");
  background-color: #000000; }

html body.guinness .App .banner {
  background-image: url("../images/clients/pages/guinness/banner.png");
  background-color: #000000; }

/********************************************** LOAD CUSTOM FONTS **********************************************/
@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-thin.woff") format("woff");
  src: url("../fonts/lato-thin.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light.ttf") format("ttf");
  src: url("../fonts/lato-light.woff") format("woff");
  src: url("../fonts/lato-light.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular.ttf") format("ttf");
  src: url("../fonts/lato-regular.woff") format("woff");
  src: url("../fonts/lato-regular.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold.woff") format("woff");
  src: url("../fonts/lato-bold.woff2") format("woff2");
  font-weight: 300; }

@font-face {
  font-family: 'oraqlescript';
  src: url("../fonts/OraqleScript.otf") format("otf");
  src: url("../fonts/OraqleScript.ttf") format("ttf");
  src: url("../fonts/OraqleScript.woff") format("woff");
  font-weight: 400; }

/********************************************** START MIXINS **********************************************/
/* Header */
/* Video Format Icons */
/* Mike King Icons (copyright pixelHeadsLtd) */
/* end */
/* pagination */
/* client logo */
body.projects .main-header {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: top 8px right 60px;
  opacity: 1; }
  body.projects .main-header .container {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0; }
  body.projects .main-header a.top {
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in;
    color: #252525;
    width: 50px;
    height: 50px;
    margin: -50px auto 0 auto;
    display: inline-block;
    text-align: center;
    background: #252525;
    transform: rotate(45deg);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1); }
    body.projects .main-header a.top div.top-arrow {
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      display: block;
      position: absolute;
      top: 16px;
      left: 16px;
      width: 10px;
      height: 10px;
      border-left: 1px solid #e6233e;
      border-top: 1px solid #e6233e; }
    body.projects .main-header a.top div.bottom-arrow {
      opacity: 0;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      display: block;
      position: absolute;
      top: 16px;
      left: 16px;
      width: 10px;
      height: 10px;
      border-left: 1px solid #e6233e;
      border-top: 1px solid #e6233e; }
    body.projects .main-header a.top label {
      position: absolute;
      top: 24px;
      left: 21px;
      display: block;
      transform: rotate(-45deg);
      text-transform: uppercase;
      font-size: .5rem;
      color: #252525;
      cursor: pointer; }
  body.projects .main-header nav.main-nav a {
    color: #fff !important;
    font: 300 0.63rem "latoregular"; }

body.projects .transpose-menu .main-header a.top:hover div.top-arrow {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  top: 11px;
  left: 11px;
  width: 15px;
  height: 15px; }

body.projects .transpose-menu .main-header a.top:hover div.bottom-arrow {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.5; }

body.projects .transpose-menu .main-header {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -ms-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top 8px right 60px;
  opacity: 0.95; }
  body.projects .transpose-menu .main-header a.top {
    opacity: 1;
    margin: 19px auto 0 auto;
    background: #fff; }
    body.projects .transpose-menu .main-header a.top div {
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }
  body.projects .transpose-menu .main-header nav.main-nav a {
    color: #252525 !important;
    font: 300 0.63rem "latobold"; }

.main-header {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff url(../images/pixelheads-logo.svg) no-repeat top 8px right 60px;
  height: 44px;
  width: 100% !important; }
  .main-header nav.main-nav {
    position: absolute;
    margin-left: 60px;
    white-space: nowrap;
    float: left; }
    .main-header nav.main-nav a {
      height: 17px;
      display: inline-block;
      margin: 15px 40px 0 0;
      padding: 0;
      cursor: pointer;
      color: #252525 !important;
      opacity: 0.6;
      font: 300 0.63rem "latobold";
      text-transform: uppercase; }
    .main-header nav.main-nav a:hover {
      text-decoration: none !important; }
    .main-header nav.main-nav a.active {
      opacity: 1;
      border-bottom: 2px solid #e6233e; }

.mw400 {
  max-width: 400px !important; }

.mw650 {
  max-width: 650px !important; }

.mw680 {
  max-width: 680px !important; }

.mw700 {
  max-width: 700px !important; }

.mw800 {
  max-width: 800px !important; }

.mw900 {
  max-width: 900px !important; }

.mw1000 {
  max-width: 1000px !important; }

.w-100 {
  width: 100% !important; }

.w-80 {
  width: 80% !important; }

.wauto {
  width: auto !important; }

.margin-bottom-small {
  margin-bottom: 10px; }

.margin-bottom-med {
  margin-bottom: 30px; }

.margin-bottom-large {
  margin-bottom: 40px; }

.mt-20p {
  margin-top: 20%; }

.margin-left-small {
  margin-left: 10px; }

.margin-left-med {
  margin-left: 20px; }

.margin-left-large {
  margin-left: 40px; }

.padding-top-large {
  padding-top: 50px; }

.padding-top-med {
  padding-top: 30px; }

.padding-top-small {
  padding-top: 10px; }

hr {
  border-top: 1px solid white;
  border-bottom: none; }

.centered {
  text-align: center; }

.spaced {
  letter-spacing: 0.15rem !important; }

.bg-yellow {
  background-color: #fbc900; }

.relative {
  position: relative; }

.row.clear-spacing {
  margin-right: 0 !important;
  margin-left: 0 !important; }
  .row.clear-spacing .col-1, .row.clear-spacing .col-2, .row.clear-spacing .col-3, .row.clear-spacing .col-4, .row.clear-spacing .col-5, .row.clear-spacing .col-6,
  .row.clear-spacing .col-7, .row.clear-spacing .col-8, .row.clear-spacing .col-9, .row.clear-spacing .col-10, .row.clear-spacing .col-11, .row.clear-spacing .col-12,
  .row.clear-spacing .col, .row.clear-spacing .col-auto, .row.clear-spacing .col-sm-1, .row.clear-spacing .col-sm-2, .row.clear-spacing .col-sm-3,
  .row.clear-spacing .col-sm-4, .row.clear-spacing .col-sm-5, .row.clear-spacing .col-sm-6, .row.clear-spacing .col-sm-7, .row.clear-spacing .col-sm-8,
  .row.clear-spacing .col-sm-9, .row.clear-spacing .col-sm-10, .row.clear-spacing .col-sm-11, .row.clear-spacing .col-sm-12,
  .row.clear-spacing .col-sm, .row.clear-spacing .col-sm-auto, .row.clear-spacing .col-md-1, .row.clear-spacing .col-md-2,
  .row.clear-spacing .col-md-3, .row.clear-spacing .col-md-4, .row.clear-spacing .col-md-5, .row.clear-spacing .col-md-6,
  .row.clear-spacing .col-md-7, .row.clear-spacing .col-md-8, .row.clear-spacing .col-md-9, .row.clear-spacing .col-md-10,
  .row.clear-spacing .col-md-11, .row.clear-spacing .col-md-12, .row.clear-spacing .col-md, .row.clear-spacing .col-md-auto,
  .row.clear-spacing .col-lg-1, .row.clear-spacing .col-lg-2, .row.clear-spacing .col-lg-3, .row.clear-spacing .col-lg-4,
  .row.clear-spacing .col-lg-5, .row.clear-spacing .col-lg-6, .row.clear-spacing .col-lg-7, .row.clear-spacing .col-lg-8,
  .row.clear-spacing .col-lg-9, .row.clear-spacing .col-lg-10, .row.clear-spacing .col-lg-11, .row.clear-spacing .col-lg-12,
  .row.clear-spacing .col-lg, .row.clear-spacing .col-lg-auto, .row.clear-spacing .col-xl-1, .row.clear-spacing .col-xl-2,
  .row.clear-spacing .col-xl-3, .row.clear-spacing .col-xl-4, .row.clear-spacing .col-xl-5, .row.clear-spacing .col-xl-6,
  .row.clear-spacing .col-xl-7, .row.clear-spacing .col-xl-8, .row.clear-spacing .col-xl-9, .row.clear-spacing .col-xl-10,
  .row.clear-spacing .col-xl-11, .row.clear-spacing .col-xl-12, .row.clear-spacing .col-xl, .row.clear-spacing .col-xl-auto {
    padding-right: 0 !important;
    padding-left: 0 !important; }

/* Header */
/* Video Format Icons */
/* Mike King Icons (copyright pixelHeadsLtd) */
/* end */
/* pagination */
/* client logo */
/********************************************** LOAD CUSTOM FONTS **********************************************/
@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-thin.woff") format("woff");
  src: url("../fonts/lato-thin.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light.ttf") format("ttf");
  src: url("../fonts/lato-light.woff") format("woff");
  src: url("../fonts/lato-light.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular.ttf") format("ttf");
  src: url("../fonts/lato-regular.woff") format("woff");
  src: url("../fonts/lato-regular.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold.woff") format("woff");
  src: url("../fonts/lato-bold.woff2") format("woff2");
  font-weight: 300; }

@font-face {
  font-family: 'oraqlescript';
  src: url("../fonts/OraqleScript.otf") format("otf");
  src: url("../fonts/OraqleScript.ttf") format("ttf");
  src: url("../fonts/OraqleScript.woff") format("woff");
  font-weight: 400; }

/********************************************** START MIXINS **********************************************/
@media (min-width: 375px) {
  body.home-page .main-header {
    background-image: none; }
    body.home-page .main-header nav.main-nav {
      margin-left: 40px; }
  body.home-page section.new-section.home {
    background-size: 450px;
    min-height: 650px; }
    body.home-page section.new-section.home .home-wrapper {
      padding-top: 280px; }
  body.home-page .new-section.about {
    min-height: 2160px; }
    body.home-page .new-section.about .container-fluid {
      padding-right: 40px;
      padding-left: 40px; }
      body.home-page .new-section.about .container-fluid .row {
        margin-right: 0;
        margin-left: 0;
        padding-top: 0; }
        body.home-page .new-section.about .container-fluid .row .col-sm-12 {
          padding-right: 0;
          padding-left: 0; }
      body.home-page .new-section.about .container-fluid .icons {
        bottom: 30px; }
        body.home-page .new-section.about .container-fluid .icons div {
          margin: 0 2%; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: none; }
  body.home-page .new-section.contact {
    min-height: 650px;
    margin-bottom: 0; }
    body.home-page .new-section.contact img {
      margin: 15% auto 0 auto; }
    body.home-page .new-section.contact ul {
      margin: 20% 0 0 22%; }
      body.home-page .new-section.contact ul li {
        float: left;
        clear: left;
        margin-bottom: 10px; } }

@media (min-width: 576px) {
  body.home-page .main-header {
    background: #fff url(../images/pixelheads-logo.svg) no-repeat top 8px right 60px; }
    body.home-page .main-header nav.main-nav {
      margin-left: 60px; }
  body.home-page section.new-section.home {
    background-size: 530px;
    min-height: 924px; }
    body.home-page section.new-section.home .home-wrapper {
      padding-top: 340px; }
  body.home-page .new-section.about {
    min-height: 1590px; }
    body.home-page .new-section.about .container-fluid {
      padding-right: 60px;
      padding-left: 60px; }
      body.home-page .new-section.about .container-fluid .row {
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 0; }
        body.home-page .new-section.about .container-fluid .row .col-sm-12 {
          padding-right: 15px;
          padding-left: 15px; }
      body.home-page .new-section.about .container-fluid .icons {
        bottom: 60px; }
        body.home-page .new-section.about .container-fluid .icons div {
          margin: 0 10%; }
          body.home-page .new-section.about .container-fluid .icons div p {
            font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact {
    min-height: 924px; }
    body.home-page .new-section.contact ul {
      margin: 40px 0 0 0; }
      body.home-page .new-section.contact ul li {
        float: none;
        clear: none;
        margin-bottom: 0; } }

@media (min-width: 768px) {
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page .new-section.about {
    min-height: 1155px; }
    body.home-page .new-section.about .container-fluid {
      padding-right: 60px;
      padding-left: 60px; }
      body.home-page .new-section.about .container-fluid .row {
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 0; }
        body.home-page .new-section.about .container-fluid .row .col-sm-12 {
          padding-right: 15px;
          padding-left: 15px; }
      body.home-page .new-section.about .container-fluid .icons {
        bottom: 60px; }
        body.home-page .new-section.about .container-fluid .icons div {
          margin: 0 5%; }
          body.home-page .new-section.about .container-fluid .icons div p {
            font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 992px) {
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page .new-section.about {
    min-height: 924px; }
    body.home-page .new-section.about .container-fluid {
      padding-right: 60px;
      padding-left: 60px; }
      body.home-page .new-section.about .container-fluid .row {
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 0; }
        body.home-page .new-section.about .container-fluid .row .col-sm-12 {
          padding-right: 15px;
          padding-left: 15px; }
      body.home-page .new-section.about .container-fluid .icons {
        bottom: 90px; }
        body.home-page .new-section.about .container-fluid .icons p {
          font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 1200px) {
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page .new-section.about .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    body.home-page .new-section.about .container-fluid .row {
      margin-right: -15px;
      margin-left: -15px;
      padding-top: 0; }
      body.home-page .new-section.about .container-fluid .row .col-sm-12 {
        padding-right: 15px;
        padding-left: 15px; }
    body.home-page .new-section.about .container-fluid .icons {
      bottom: 235px; }
      body.home-page .new-section.about .container-fluid .icons p {
        font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 1500px) {
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page section.new-section.home .home-wrapper {
    padding-top: 400px; }
  body.home-page .new-section.about .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    body.home-page .new-section.about .container-fluid .row {
      margin-right: -15px;
      margin-left: -15px;
      padding-top: 50px; }
      body.home-page .new-section.about .container-fluid .row .col-sm-12 {
        padding-right: 15px;
        padding-left: 15px; }
    body.home-page .new-section.about .container-fluid .icons {
      bottom: 100px; }
      body.home-page .new-section.about .container-fluid .icons p {
        font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 375px) {
  html body.projects .main-header {
    background-image: none; }
    html body.projects .main-header nav.main-nav {
      margin-left: 40px; }
  html body.projects .container a.top {
    display: none; }
  html body.projects .banner {
    height: 190px;
    background-size: 130%; }
    html body.projects .banner nav.downloads-menu {
      display: none; }
    html body.projects .banner nav.projects-menu {
      top: 126px;
      left: 40px; }
      html body.projects .banner nav.projects-menu h4 {
        display: none; }
      html body.projects .banner nav.projects-menu ul li {
        width: 33%;
        display: inline-block;
        margin-bottom: 0; }
    html body.projects .banner h1 {
      margin: 70px 0 6px 0;
      font-size: 1.1rem; }
  html body.projects .projects-header {
    bottom: 75px !important; }
    html body.projects .projects-header ul {
      display: none; }
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 0;
    padding-left: 0; }
  html body.projects .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 190px; }
    html body.projects .container-fluid h2 {
      font-size: 40px; }
    html body.projects .container-fluid .row .red-panel {
      margin-top: 20px; }
    html body.projects .container-fluid .row img.batman {
      width: 185%;
      margin-top: 0;
      position: static;
      margin-bottom: 20px; }
    html body.projects .container-fluid .row.carousel {
      margin: 30px 0 -125px 0; }
      html body.projects .container-fluid .row.carousel img {
        margin-top: 0 !important; }
    html body.projects .container-fluid .row.scooby {
      padding-top: 60px;
      padding-bottom: 50px; }
      html body.projects .container-fluid .row.scooby > div:first-child {
        margin-right: 130px; }
      html body.projects .container-fluid .row.scooby img.scooby-van {
        top: -172px;
        width: 190px; }
      html body.projects .container-fluid .row.scooby .para1 {
        margin-left: 0;
        padding-left: 0;
        margin-top: 50px; }
      html body.projects .container-fluid .row.scooby .para2 {
        padding-left: 0;
        margin-top: 0; }
    html body.projects .container-fluid .row.ctn-ntw {
      padding-top: 80px; }
      html body.projects .container-fluid .row.ctn-ntw img.adv-time {
        top: -169px;
        right: 113px;
        width: 265px; }
    html body.projects .container-fluid .row.youtube ul {
      display: none; }
  html body.projects img.personas {
    width: 400px;
    margin-top: -79px; } }

@media (min-width: 576px) {
  html body.projects .transpose-menu .main-header {
    background-image: url(../images/pixelheads-logo.svg) !important; }
  html body.projects .main-header {
    background-image: url(../images/pixelheads-logo-inverted.svg); }
  html body.projects .main-header nav.main-nav {
    margin-left: 60px; }
  html body.projects .container a.top {
    display: none; }
  html body.projects .banner {
    height: 395px;
    background-size: 100% !important; }
    html body.projects .banner nav.downloads-menu {
      display: block; }
    html body.projects .banner nav.projects-menu {
      top: 50px;
      left: 60px; }
      html body.projects .banner nav.projects-menu h4 {
        display: block; }
      html body.projects .banner nav.projects-menu ul li {
        width: auto;
        display: block;
        margin-bottom: 6px; }
    html body.projects .banner h1 {
      margin: 70px 0 105px 0;
      font-size: 1.5rem; }
  html body.projects .projects-header {
    bottom: 25px !important; }
    html body.projects .projects-header ul {
      display: block; }
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 0;
    padding-left: 0; }
  html body.projects .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 395px; }
    html body.projects .container-fluid h2 {
      font-size: 52px; }
    html body.projects .container-fluid .row .red-panel {
      margin-top: 20px; }
    html body.projects .container-fluid .row img.batman {
      width: 108%;
      margin-top: 0;
      position: static;
      margin-bottom: 0; }
    html body.projects .container-fluid .row.carousel {
      margin: 30px 0 -160px 0; }
      html body.projects .container-fluid .row.carousel img {
        margin-top: -10px !important; }
    html body.projects .container-fluid .row.scooby {
      padding-top: 60px;
      padding-bottom: 180px; }
      html body.projects .container-fluid .row.scooby > div:first-child {
        margin-right: 130px; }
      html body.projects .container-fluid .row.scooby img.scooby-van {
        top: -172px;
        width: 451px; }
      html body.projects .container-fluid .row.scooby .para1 {
        margin-left: 0;
        max-width: 90%;
        padding-left: 60px;
        margin-top: 50px; }
      html body.projects .container-fluid .row.scooby .para2 {
        max-width: 90%;
        padding-left: 60px;
        margin-top: 0; }
    html body.projects .container-fluid .row.ctn-ntw {
      padding-top: 80px; }
      html body.projects .container-fluid .row.ctn-ntw img.adv-time {
        top: -169px;
        right: 113px;
        width: 265px; }
    html body.projects .container-fluid .row.youtube ul {
      display: none; }
    html body.projects .container-fluid .projects-header ul {
      display: block;
      margin: 0 35px; }
  html body.projects img.personas {
    width: 600px;
    margin-top: -91px; } }

@media (min-width: 768px) {
  html body.projects .container a.top {
    display: inline-block; }
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 0;
    padding-left: 0; }
  html body.projects .container-fluid {
    padding-right: 45px;
    padding-left: 45px; }
    html body.projects .container-fluid .row .red-panel {
      margin-top: 20px; }
    html body.projects .container-fluid .row img.batman {
      width: 108%;
      margin-top: 0;
      position: static; }
    html body.projects .container-fluid .row.scooby {
      padding-top: 60px;
      padding-bottom: 180px; }
      html body.projects .container-fluid .row.scooby > div:first-child {
        margin-right: 130px; }
      html body.projects .container-fluid .row.scooby .para1 {
        margin-left: 0;
        max-width: 90%;
        padding-left: 60px;
        margin-top: 300px; }
      html body.projects .container-fluid .row.scooby .para2 {
        max-width: 90%;
        padding-left: 60px;
        margin-top: 0; }
      html body.projects .container-fluid .row.scooby img.scooby-van {
        top: -172px; }
    html body.projects .container-fluid .row.ctn-ntw {
      padding-top: 80px; }
      html body.projects .container-fluid .row.ctn-ntw img.adv-time {
        top: -206px;
        right: 230px;
        width: 340px; }
    html body.projects .container-fluid .row.youtube ul {
      display: block; }
    html body.projects .container-fluid .projects-header ul {
      display: block;
      margin: 0 60px; }
  html body.projects img.personas {
    width: 100%;
    margin-top: -90px; } }

@media (min-width: 992px) {
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 10%;
    padding-left: 10%; }
  html body.projects .container-fluid .row .red-panel {
    margin-top: 0; }
  html body.projects .container-fluid .row img.batman {
    width: 180%;
    margin-top: 50px;
    position: absolute; }
  html body.projects .container-fluid .row.scooby {
    padding-top: 60px;
    padding-bottom: 130px; }
    html body.projects .container-fluid .row.scooby > div:first-child {
      margin-right: 130px; }
    html body.projects .container-fluid .row.scooby img.scooby-van {
      top: -172px; }
    html body.projects .container-fluid .row.scooby .para1 {
      margin-left: 465px;
      max-width: 44%;
      min-width: 50%;
      padding-top: 30px;
      margin-top: 0; }
    html body.projects .container-fluid .row.scooby .para2 {
      max-width: 90%;
      padding-left: 60px;
      margin-top: 115px;
      min-width: 90%; }
  html body.projects .container-fluid .row.ctn-ntw img.adv-time {
    top: -206px;
    right: 230px;
    width: 340px; }
  html body.projects .container-fluid .row.youtube ul {
    display: block; }
  html body.projects .container-fluid .projects-header ul {
    display: block;
    margin: 0 60px; }
  html body.projects img.personas {
    width: 100%;
    margin-top: -160px; } }

@media (min-width: 1200px) {
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 10%;
    padding-left: 10%; }
  html body.projects .container-fluid .row img.batman {
    width: 140%;
    margin-top: 10px;
    position: absolute; }
  html body.projects .container-fluid .row.scooby {
    padding-top: 60px;
    padding-bottom: 0; }
    html body.projects .container-fluid .row.scooby > div:first-child {
      margin-right: 100px; }
    html body.projects .container-fluid .row.scooby img.scooby-van {
      top: -172px; }
    html body.projects .container-fluid .row.scooby .para1 {
      margin-left: 0;
      max-width: 100%;
      margin-right: 30px;
      min-width: initial;
      padding-top: 0;
      padding-left: 0; }
    html body.projects .container-fluid .row.scooby .para2 {
      max-width: 100%;
      padding-left: 0;
      margin-top: 0;
      min-width: initial; }
  html body.projects .container-fluid .row.ctn-ntw img.adv-time {
    position: absolute;
    top: -240px;
    right: 395px;
    width: 400px; }
  html body.projects .container-fluid .row.youtube ul {
    display: block; }
  html body.projects .container-fluid .projects-header ul {
    display: block;
    margin: 0 60px; } }

@media (min-width: 1580px) {
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 10%;
    padding-left: 10%; }
  html body.projects .container-fluid .row img.batman {
    width: 170%;
    margin-top: -96px;
    position: absolute; }
  html body.projects .container-fluid .row.scooby {
    padding-top: 100px;
    padding-bottom: 0; }
    html body.projects .container-fluid .row.scooby > div {
      margin-right: 30px; }
    html body.projects .container-fluid .row.scooby > div:first-child {
      margin-right: 0; }
    html body.projects .container-fluid .row.scooby img.scooby-van {
      top: -230px; }
    html body.projects .container-fluid .row.scooby .para1 {
      margin-left: 0;
      max-width: 100%;
      min-width: initial;
      padding-top: 0;
      padding-left: 0; }
    html body.projects .container-fluid .row.scooby .para2 {
      max-width: 100%;
      padding-left: 0;
      margin-top: 0;
      min-width: initial; }
  html body.projects .container-fluid .row.ctn-ntw img.adv-time {
    position: absolute;
    top: -240px;
    right: 395px;
    width: 400px; }
  html body.projects .container-fluid .row.youtube ul {
    display: block; }
  html body.projects .container-fluid .projects-header ul {
    display: block;
    margin: 0 60px; } }

html, body, #root, .projects, .projects-grid,
.mdl-cell, .content, .mobile, .sub-nav + div {
  height: 100%; }

.hide .hide-sub-header,
.hide .menu-info,
.hide .projects-intro {
  display: none; }

.border-dashed-light {
  border: 1px dashed #ddd; }

.drop-shadow {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); }

.clear {
  float: left;
  clear: left; }

.animate {
  transition: all 0.5s ease;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform; }

body.home-page {
  margin: 0;
  padding: 0;
  font: 200 0.78rem "latoregular";
  letter-spacing: 0.05em;
  /*font-family: $roboto-slab;*/
  /* Custom scrollbars. Only works for chrome and Safari */ }
  body.home-page ::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 2px;
    background: #ddd; }
  body.home-page ::-webkit-scrollbar {
    width: 2px;
    background-color: #fff; }
  body.home-page ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: none;
    background: #e6233e; }
  body.home-page ::-webkit-scrollbar-thumb:hover {
    background: #e6233e; }
  body.home-page ::-webkit-scrollbar-thumb:active {
    background: black; }
  body.home-page h1, body.home-page h2, body.home-page h3, body.home-page h4, body.home-page h5, body.home-page h6 {
    white-space: nowrap; }
  body.home-page link, body.home-page a, body.home-page a:visited {
    color: #e6233e;
    text-decoration: none;
    cursor: pointer; }
  body.home-page a:hover {
    text-decoration: none;
    color: #e73f3b; }
  body.home-page a.link-large {
    font: 300 15px "latoregular";
    color: #478ce9; }
  body.home-page ul li {
    padding-left: 8px; }
  body.home-page p {
    margin: 0 0 20px 0;
    line-height: 1.4rem !important;
    font: 200 12px "latoregular"; }
    body.home-page p a {
      font-size: 0.8rem; }
  body.home-page h1 {
    color: #252525;
    text-align: center;
    margin: 0 0 5px 0;
    padding: 30px 0 0 0;
    font: 300 76px "oraqlescript";
    font-size: 76px; }
  body.home-page h2 {
    color: #e73f3b;
    margin: 0 0 15px 0;
    font: 300 25px "latoregular";
    clear: left; }
    body.home-page h2 a.link-large {
      float: right;
      margin: 5px 0 0 0; }
  body.home-page h3 {
    color: #252525;
    font: 600 1.1rem "latoregular";
    margin: 0 0 3px 0; }
