/********************************************** LOAD CUSTOM FONTS **********************************************/
@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-thin.woff") format("woff");
  src: url("../fonts/lato-thin.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light.ttf") format("ttf");
  src: url("../fonts/lato-light.woff") format("woff");
  src: url("../fonts/lato-light.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular.ttf") format("ttf");
  src: url("../fonts/lato-regular.woff") format("woff");
  src: url("../fonts/lato-regular.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold.woff") format("woff");
  src: url("../fonts/lato-bold.woff2") format("woff2");
  font-weight: 300; }

@font-face {
  font-family: 'oraqlescript';
  src: url("../fonts/OraqleScript.otf") format("otf");
  src: url("../fonts/OraqleScript.ttf") format("ttf");
  src: url("../fonts/OraqleScript.woff") format("woff");
  font-weight: 400; }

/********************************************** START MIXINS **********************************************/
/* Header */
/* Video Format Icons */
/* Mike King Icons (copyright pixelHeadsLtd) */
/* end */
/* pagination */
/* client logo */
body.projects .main-header {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: top 8px right 60px;
  opacity: 1; }
  body.projects .main-header .container {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0; }
  body.projects .main-header a.top {
    position: relative;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    color: #252525;
    width: 50px;
    height: 50px;
    margin: -50px auto 0 auto;
    display: inline-block;
    text-align: center;
    background: #252525;
    transform: rotate(45deg);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1); }
    body.projects .main-header a.top div.top-arrow {
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      display: block;
      position: absolute;
      top: 16px;
      left: 16px;
      width: 10px;
      height: 10px;
      border-left: 1px solid #e6233e;
      border-top: 1px solid #e6233e; }
    body.projects .main-header a.top div.bottom-arrow {
      opacity: 0;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      display: block;
      position: absolute;
      top: 16px;
      left: 16px;
      width: 10px;
      height: 10px;
      border-left: 1px solid #e6233e;
      border-top: 1px solid #e6233e; }
    body.projects .main-header a.top label {
      position: absolute;
      top: 24px;
      left: 21px;
      display: block;
      transform: rotate(-45deg);
      text-transform: uppercase;
      font-size: .5rem;
      color: #252525;
      cursor: pointer; }
  body.projects .main-header nav.main-nav a {
    color: #fff !important;
    font: 300 0.63rem "latoregular"; }

body.projects .transpose-menu .main-header a.top:hover div.top-arrow {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  top: 11px;
  left: 11px;
  width: 15px;
  height: 15px; }

body.projects .transpose-menu .main-header a.top:hover div.bottom-arrow {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.5; }

body.projects .transpose-menu .main-header {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -ms-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top 8px right 60px;
  opacity: 0.95; }
  body.projects .transpose-menu .main-header a.top {
    opacity: 1;
    margin: 19px auto 0 auto;
    background: #fff; }
    body.projects .transpose-menu .main-header a.top div {
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }
  body.projects .transpose-menu .main-header nav.main-nav a {
    color: #252525 !important;
    font: 300 0.63rem "latobold"; }

.home-page .main-header nav.main-nav a:nth-child(1) {
  animation-duration: .3s; }

.home-page .main-header nav.main-nav a:nth-child(2) {
  animation-duration: .5s; }

.home-page .main-header nav.main-nav a:nth-child(3) {
  animation-duration: .7s; }

.home-page .main-header nav.main-nav a:nth-child(4) {
  animation-duration: .9s; }

.home-page .main-header nav.main-nav a:nth-child(5) {
  animation-duration: 1.1s; }

.home-page .main-header nav.main-nav a {
  animation-timing-function: ease-in;
  /* how the animation will behave */
  animation-delay: 0s;
  /* how long to delay the animation from starting */
  animation-iteration-count: 1;
  /* how many times the animation will play */
  animation-name: slideInFromTop;
  /* the name of the animation we defined above */ }

.main-header {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff url(../images/pixelheads-logo.svg) no-repeat top 8px right 60px;
  height: 44px;
  width: 100% !important; }
  .main-header nav.main-nav {
    position: absolute;
    margin-left: 60px;
    white-space: nowrap;
    float: left; }
    .main-header nav.main-nav a {
      height: 17px;
      display: inline-block;
      margin: 15px 40px 0 0;
      padding: 0;
      cursor: pointer;
      color: #252525 !important;
      opacity: 0.6;
      font: 300 0.63rem "latobold";
      text-transform: uppercase; }
    .main-header nav.main-nav a:hover {
      text-decoration: none !important; }
    .main-header nav.main-nav a.active {
      opacity: 1;
      border-bottom: 2px solid #e6233e; }
  .main-header .main-nav-small.show-menu nav {
    top: 0; }
  .main-header .main-nav-small.show-menu .tint {
    opacity: 0.8;
    visibility: visible; }
  .main-header .main-nav-small.show-menu .menu-icon div {
    background-color: #252525; }
  .main-header .main-nav-small .menu-icon {
    z-index: 2;
    width: 22px;
    display: block;
    position: absolute;
    right: 15px;
    top: 15px; }
    .main-header .main-nav-small .menu-icon div {
      width: 100%;
      height: 3px;
      background-color: #e6233e;
      border-radius: 30px;
      margin: 0 0 4px 0; }
  .main-header .main-nav-small .tint {
    background-color: #000000;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; }
  .main-header .main-nav-small nav {
    top: -245px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: white;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 243px;
    left: 0;
    padding-top: 10px; }
    .main-header .main-nav-small nav a.active {
      color: #e6233e !important; }
    .main-header .main-nav-small nav a:last-child {
      border-bottom: none; }
    .main-header .main-nav-small nav a {
      width: 100%;
      height: auto;
      cursor: pointer;
      text-align: center;
      display: block;
      margin: 0;
      padding: 16px 0;
      cursor: pointer;
      color: #252525 !important;
      opacity: 0.6;
      font: 300 0.7rem "latobold";
      text-transform: uppercase;
      border-bottom: 1px dashed #ddd; }
    .main-header .main-nav-small nav a:hover {
      text-decoration: none !important; }
    .main-header .main-nav-small nav a.active {
      opacity: 1; }
