.mw400 {
  max-width: 400px !important; }

.mw650 {
  max-width: 650px !important; }

.mw680 {
  max-width: 680px !important; }

.mw700 {
  max-width: 700px !important; }

.mw800 {
  max-width: 800px !important; }

.mw900 {
  max-width: 900px !important; }

.mw1000 {
  max-width: 1000px !important; }

.w100 {
  width: 100% !important;
  float: left;
  clear: left; }

.wauto {
  width: auto !important; }

.margin-bottom-small {
  margin-bottom: 10px; }

.margin-bottom-med {
  margin-bottom: 20px; }

.margin-bottom-large {
  margin-bottom: 40px; }

.mt-20p {
  margin-top: 20%; }

.margin-left-small {
  margin-left: 10px; }

.margin-left-med {
  margin-left: 20px; }

.margin-left-large {
  margin-left: 40px; }

.padding-top-large {
  padding-top: 50px; }

.padding-top-med {
  padding-top: 30px; }

.padding-top-small {
  padding-top: 10px; }

hr {
  border-top: 1px solid white;
  border-bottom: none; }

.spaced {
  letter-spacing: 0.15rem !important; }

.bg-yellow {
  background-color: #fbc900; }

.relative {
  position: relative; }
