.mw400 {
  max-width: 400px !important; }

.mw650 {
  max-width: 650px !important; }

.mw680 {
  max-width: 680px !important; }

.mw700 {
  max-width: 700px !important; }

.mw800 {
  max-width: 800px !important; }

.mw900 {
  max-width: 900px !important; }

.mw1000 {
  max-width: 1000px !important; }

.w-100 {
  width: 100% !important; }

.w-80 {
  width: 80% !important; }

.wauto {
  width: auto !important; }

.margin-bottom-small {
  margin-bottom: 10px; }

.margin-bottom-med {
  margin-bottom: 30px; }

.margin-bottom-large {
  margin-bottom: 40px; }

.mt-20p {
  margin-top: 20%; }

.margin-left-small {
  margin-left: 10px; }

.margin-left-med {
  margin-left: 20px; }

.margin-left-large {
  margin-left: 40px; }

.padding-top-large {
  padding-top: 50px; }

.padding-top-med {
  padding-top: 30px; }

.padding-top-small {
  padding-top: 10px; }

hr {
  border-top: 1px solid white;
  border-bottom: none; }

.centered {
  text-align: center; }

.spaced {
  letter-spacing: 0.15rem !important; }

.bg-yellow {
  background-color: #fbc900; }

.relative {
  position: relative; }

.row.clear-spacing {
  margin-right: 0 !important;
  margin-left: 0 !important; }
  .row.clear-spacing .col-1, .row.clear-spacing .col-2, .row.clear-spacing .col-3, .row.clear-spacing .col-4, .row.clear-spacing .col-5, .row.clear-spacing .col-6,
  .row.clear-spacing .col-7, .row.clear-spacing .col-8, .row.clear-spacing .col-9, .row.clear-spacing .col-10, .row.clear-spacing .col-11, .row.clear-spacing .col-12,
  .row.clear-spacing .col, .row.clear-spacing .col-auto, .row.clear-spacing .col-sm-1, .row.clear-spacing .col-sm-2, .row.clear-spacing .col-sm-3,
  .row.clear-spacing .col-sm-4, .row.clear-spacing .col-sm-5, .row.clear-spacing .col-sm-6, .row.clear-spacing .col-sm-7, .row.clear-spacing .col-sm-8,
  .row.clear-spacing .col-sm-9, .row.clear-spacing .col-sm-10, .row.clear-spacing .col-sm-11, .row.clear-spacing .col-sm-12,
  .row.clear-spacing .col-sm, .row.clear-spacing .col-sm-auto, .row.clear-spacing .col-md-1, .row.clear-spacing .col-md-2,
  .row.clear-spacing .col-md-3, .row.clear-spacing .col-md-4, .row.clear-spacing .col-md-5, .row.clear-spacing .col-md-6,
  .row.clear-spacing .col-md-7, .row.clear-spacing .col-md-8, .row.clear-spacing .col-md-9, .row.clear-spacing .col-md-10,
  .row.clear-spacing .col-md-11, .row.clear-spacing .col-md-12, .row.clear-spacing .col-md, .row.clear-spacing .col-md-auto,
  .row.clear-spacing .col-lg-1, .row.clear-spacing .col-lg-2, .row.clear-spacing .col-lg-3, .row.clear-spacing .col-lg-4,
  .row.clear-spacing .col-lg-5, .row.clear-spacing .col-lg-6, .row.clear-spacing .col-lg-7, .row.clear-spacing .col-lg-8,
  .row.clear-spacing .col-lg-9, .row.clear-spacing .col-lg-10, .row.clear-spacing .col-lg-11, .row.clear-spacing .col-lg-12,
  .row.clear-spacing .col-lg, .row.clear-spacing .col-lg-auto, .row.clear-spacing .col-xl-1, .row.clear-spacing .col-xl-2,
  .row.clear-spacing .col-xl-3, .row.clear-spacing .col-xl-4, .row.clear-spacing .col-xl-5, .row.clear-spacing .col-xl-6,
  .row.clear-spacing .col-xl-7, .row.clear-spacing .col-xl-8, .row.clear-spacing .col-xl-9, .row.clear-spacing .col-xl-10,
  .row.clear-spacing .col-xl-11, .row.clear-spacing .col-xl-12, .row.clear-spacing .col-xl, .row.clear-spacing .col-xl-auto {
    padding-right: 0 !important;
    padding-left: 0 !important; }
