/********************************************** LOAD CUSTOM FONTS **********************************************/
@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-thin.woff") format("woff");
  src: url("../fonts/lato-thin.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light.ttf") format("ttf");
  src: url("../fonts/lato-light.woff") format("woff");
  src: url("../fonts/lato-light.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular.ttf") format("ttf");
  src: url("../fonts/lato-regular.woff") format("woff");
  src: url("../fonts/lato-regular.woff2") format("woff2");
  font-weight: normal; }

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold.woff") format("woff");
  src: url("../fonts/lato-bold.woff2") format("woff2");
  font-weight: 300; }

@font-face {
  font-family: 'oraqlescript';
  src: url("../fonts/OraqleScript.otf") format("otf");
  src: url("../fonts/OraqleScript.ttf") format("ttf");
  src: url("../fonts/OraqleScript.woff") format("woff");
  font-weight: 400; }

/********************************************** START MIXINS **********************************************/
/* Header */
/* Video Format Icons */
/* Mike King Icons (copyright pixelHeadsLtd) */
/* end */
/* pagination */
/* client logo */
html body.projects {
  background-size: 100%;
  font-family: latoregular;
  font-size: .75rem;
  margin: 0;
  padding: 0; }
  html body.projects .App {
    overflow: hidden;
    letter-spacing: .04rem;
    /* Links */
    /* Lists */
    /* Text */
    /* Layout */
    /* Helpers */ }
    html body.projects .App .container-fluid {
      background: white;
      margin-top: 440px;
      padding-top: 20px; }
    html body.projects .App .container-fluid.fullwidth {
      padding-right: 0 !important;
      padding-left: 0 !important; }
      html body.projects .App .container-fluid.fullwidth .row {
        margin-right: 0;
        margin-left: 0;
        padding-right: 40px;
        padding-left: 40px; }
    html body.projects .App h4 {
      color: #252525;
      font: 600 0.9rem "latoregular";
      margin: 0 0 6px 0;
      text-transform: uppercase;
      letter-spacing: .2rem; }
    html body.projects .App figure:hover a {
      opacity: 1; }
    html body.projects .App figure:hover .tint {
      -webkit-transition: all 0.2s ease-in;
      opacity: 0.6; }
    html body.projects .App figure {
      margin: 0;
      position: relative;
      overflow: hidden; }
      html body.projects .App figure .tint {
        -webkit-transition: all 0.2s ease-in;
        position: absolute;
        background: #000000;
        width: 100%;
        height: 100%;
        opacity: 0; }
      html body.projects .App figure a {
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        margin: 0;
        padding-top: 25.5%;
        border: none; }
        html body.projects .App figure a h3 {
          color: #fff;
          letter-spacing: .2rem;
          font-size: .85rem; }
        html body.projects .App figure a p {
          letter-spacing: .2rem;
          font-family: 'latolight';
          font-size: .65rem;
          color: #fff; }
    html body.projects .App .banner.umg-active nav ul li:nth-child(1) a {
      color: #fff; }
      html body.projects .App .banner.umg-active nav ul li:nth-child(1) a i {
        display: block; }
    html body.projects .App .banner.turner-active nav ul li:nth-child(2) a {
      color: #fff; }
      html body.projects .App .banner.turner-active nav ul li:nth-child(2) a i {
        display: block; }
    html body.projects .App .banner.bbc-active nav ul li:nth-child(3) a {
      color: #fff; }
      html body.projects .App .banner.bbc-active nav ul li:nth-child(3) a i {
        display: block; }
    html body.projects .App .banner.monum-active nav ul li:nth-child(4) a {
      color: #fff; }
      html body.projects .App .banner.monum-active nav ul li:nth-child(4) a i {
        display: block; }
    html body.projects .App .banner.setanta-active nav ul li:nth-child(5) a {
      color: #fff; }
      html body.projects .App .banner.setanta-active nav ul li:nth-child(5) a i {
        display: block; }
    html body.projects .App .banner.guinness-active nav ul li:nth-child(6) a {
      color: #fff; }
      html body.projects .App .banner.guinness-active nav ul li:nth-child(6) a i {
        display: block; }
    html body.projects .App .banner {
      height: 395px;
      background-size: 100% !important;
      background-position: center center;
      background-repeat: no-repeat;
      position: fixed;
      left: 0;
      right: 0;
      top: 45px;
      /* Projects Headers */ }
      html body.projects .App .banner nav {
        position: absolute;
        z-index: 1;
        left: 60px;
        top: 10px; }
        html body.projects .App .banner nav h4 {
          color: #fff;
          font-size: .8rem;
          font-family: 'latolight'; }
        html body.projects .App .banner nav ul {
          padding: 0; }
          html body.projects .App .banner nav ul li {
            font-size: .65rem;
            margin-bottom: 6px;
            display: block;
            position: relative; }
            html body.projects .App .banner nav ul li a:hover {
              color: #fff; }
            html body.projects .App .banner nav ul li a {
              color: #888;
              font-family: 'latoregular';
              letter-spacing: .05rem; }
              html body.projects .App .banner nav ul li a i {
                display: none;
                width: 7px;
                height: 7px;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                transform: rotate(45deg);
                position: absolute;
                left: -14px;
                top: 3px; }
      html body.projects .App .banner .projects-header {
        width: 100%;
        display: inline-block;
        text-align: center;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0; }
        html body.projects .App .banner .projects-header h1 {
          color: white;
          margin: 70px 0 105px 0; }
        html body.projects .App .banner .projects-header p {
          text-transform: uppercase;
          font-size: .6rem;
          text-align: left;
          line-height: 1.1rem;
          margin: 0;
          padding: 0;
          color: #999;
          letter-spacing: .2rem; }
          html body.projects .App .banner .projects-header p label {
            float: left;
            clear: left;
            width: 100%;
            text-transform: uppercase;
            color: #ff0049; }
        html body.projects .App .banner .projects-header h3 {
          text-align: left;
          margin: 0 0 3px 0;
          padding: 0 0 3px 0;
          border-bottom: 1px dashed #666;
          width: 100%;
          float: left;
          text-transform: uppercase;
          color: white;
          font-family: 'latolight';
          letter-spacing: .3rem;
          font-size: .8rem;
          font-weight: bolder; }
        html body.projects .App .banner .projects-header ul {
          margin: 0 60px;
          padding: 0;
          float: none; }
          html body.projects .App .banner .projects-header ul li {
            display: block;
            margin: 0;
            padding: 0;
            width: 25%;
            float: left; }
    html body.projects .App a {
      color: #00a3cc;
      text-decoration: none; }
    html body.projects .App a:hover {
      color: #252525;
      text-decoration: none; }
    html body.projects .App ul li {
      margin: 0 0 10px 0; }
    html body.projects .App h1 {
      font-family: latobold;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: .4rem;
      color: #ff0049; }
    html body.projects .App h2 {
      font-family: oraqlescript;
      font-size: 52px;
      font-weight: lighter;
      margin: 25px 0 10px 0; }
    html body.projects .App h3 {
      color: #ff0049;
      font-family: latobold;
      font-size: 1rem; }
    html body.projects .App p {
      line-height: 1.5rem;
      margin-top: 0; }
    html body.projects .App p label {
      width: 100%;
      color: #ff0049;
      margin-bottom: 0;
      font-size: .95rem;
      letter-spacing: .05rem; }
    html body.projects .App img.to-the-right-edge {
      float: right;
      margin-right: -90px; }
    html body.projects .App .row {
      margin-right: 0;
      margin-left: 0; }
    html body.projects .App .w-25 {
      width: 25%; }
    html body.projects .App .w-50 {
      width: 50%; }
    html body.projects .App .height-1000 {
      height: 1000px; }
    html body.projects .App .absolute-right {
      position: absolute;
      right: 0; }

/* ------------------------------------------------- Project Specific ------------------------------------------------ */
html body.umg .App img.personas {
  width: 100%;
  margin-top: -160px; }

html body.umg .App .row .red-panel {
  background-color: #ff0049;
  padding-top: 20px;
  color: white; }
  html body.umg .App .row .red-panel h4 {
    color: white; }

html body.umg .App .container-fluid {
  background: #fff url("../images/clients/pages/umg/background.png") no-repeat 0 0;
  background-size: 100%; }

html body.umg .App .banner {
  background-image: url("../images/clients/pages/umg/banner.png");
  background-color: #000000; }

html body.turner .App img.personas {
  width: 100%;
  margin-top: -160px; }

html body.turner .App .row .red-panel {
  background-color: #ff0049;
  color: white; }
  html body.turner .App .row .red-panel label {
    color: white; }

html body.turner .App .container-fluid {
  background-size: 100%; }
  html body.turner .App .container-fluid img.batman {
    width: 170%;
    margin-top: -96px;
    vertical-align: middle;
    border-style: none;
    position: absolute;
    z-index: 1; }
  html body.turner .App .container-fluid .row.carousel {
    overflow: hidden;
    max-height: 200px;
    margin: 30px 0 -160px 0;
    border-top: 1px dashed #fbc900;
    background: #fcfcff; }
    html body.turner .App .container-fluid .row.carousel img {
      width: 100%;
      margin-top: -10px; }
  html body.turner .App .container-fluid .row.ctn-ntw {
    padding-top: 80px;
    background-color: #dc1f0a; }
    html body.turner .App .container-fluid .row.ctn-ntw img.adv-time {
      position: absolute;
      top: -240px;
      right: 395px;
      width: 400px; }
  html body.turner .App .container-fluid .row.scooby {
    min-height: 400px;
    margin-top: 123px;
    padding-top: 100px; }
    html body.turner .App .container-fluid .row.scooby p, html body.turner .App .container-fluid .row.scooby h4 {
      color: #fff; }
    html body.turner .App .container-fluid .row.scooby h4 {
      white-space: nowrap; }
    html body.turner .App .container-fluid .row.scooby img.scooby-van {
      position: absolute;
      top: -230px;
      left: -40px; }
  html body.turner .App .container-fluid .row.as {
    padding-top: 80px;
    background-color: #dc1f0a; }

html body.turner .App .banner {
  background-image: url("../images/clients/pages/turner/banner.png");
  background-color: #000000; }

html body.bbc .App .container-fluid {
  background: #fff url("../images/clients/pages/bbc/tyre-marks-grey.png") no-repeat;
  background-position: top right -322px;
  background-size: 1200px; }
  html body.bbc .App .container-fluid .row {
    margin-right: 0 !important;
    margin-left: 0 !important; }
    html body.bbc .App .container-fluid .row .col-xs-12, html body.bbc .App .container-fluid .row .col-sm-12, html body.bbc .App .container-fluid .row .col-md-12, html body.bbc .App .container-fluid .row .col-lg-12 {
      padding-right: 10%;
      padding-left: 10%; }
  html body.bbc .App .container-fluid .row.youtube {
    position: relative; }
    html body.bbc .App .container-fluid .row.youtube ul {
      position: absolute;
      top: 82%;
      left: 34%;
      width: 100%; }
      html body.bbc .App .container-fluid .row.youtube ul li {
        display: inline-block;
        width: 20%;
        margin-right: 10%; }
        html body.bbc .App .container-fluid .row.youtube ul li p, html body.bbc .App .container-fluid .row.youtube ul li h4 {
          color: #fff; }
  html body.bbc .App .container-fluid .row.topgear-grouped {
    margin-top: -100px; }

html body.bbc .App .banner {
  background-image: url("../images/clients/pages/bbc/banner.png");
  background-color: #000000; }

html body.monum .App .banner {
  background-image: url("../images/clients/pages/monum/banner.png");
  background-color: #000000;
  background-position: center bottom 63px !important; }

html body.setanta .App .banner, html body.guinness .App .banner {
  background-image: url("../images/clients/pages/setanta/banner.png");
  background-color: #000000; }
