@media (min-width: 375px) {
  body.home-page .main-header img {
    display: none; }
  body.home-page .main-header nav.main-nav {
    margin-left: 40px; }
  body.home-page section.new-section.home {
    background-position: center top 5px; }
    body.home-page section.new-section.home .home-wrapper {
      padding-top: 320px; }
  body.home-page .new-section.about {
    min-height: 2160px; }
    body.home-page .new-section.about .container-fluid {
      padding-right: 40px;
      padding-left: 40px; }
      body.home-page .new-section.about .container-fluid .row {
        margin-right: 0;
        margin-left: 0;
        padding-top: 0; }
        body.home-page .new-section.about .container-fluid .row .col-sm-12 {
          padding-right: 0;
          padding-left: 0; }
      body.home-page .new-section.about .container-fluid .icons {
        bottom: 30px; }
        body.home-page .new-section.about .container-fluid .icons div {
          margin: 0 2%; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: none; }
  body.home-page .new-section.contact img {
    margin: 50% auto 0 auto; }
  body.home-page .new-section.contact ul {
    margin: 20% 0 0 22%; }
    body.home-page .new-section.contact ul li {
      float: left;
      clear: left;
      margin-bottom: 10px; } }

@media (min-width: 576px) {
  body.home-page .main-header img {
    display: block; }
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page section.new-section.home {
    background-position: center top 5px; }
    body.home-page section.new-section.home .home-wrapper {
      padding-top: 320px; }
  body.home-page .new-section.about {
    min-height: 1590px; }
    body.home-page .new-section.about .container-fluid {
      padding-right: 60px;
      padding-left: 60px; }
      body.home-page .new-section.about .container-fluid .row {
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 0; }
        body.home-page .new-section.about .container-fluid .row .col-sm-12 {
          padding-right: 15px;
          padding-left: 15px; }
      body.home-page .new-section.about .container-fluid .icons {
        bottom: 60px; }
        body.home-page .new-section.about .container-fluid .icons div {
          margin: 0 10%; }
          body.home-page .new-section.about .container-fluid .icons div p {
            font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact img {
    margin: 15% auto 0 auto; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 768px) {
  body.home-page .main-header img {
    display: block; }
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page section.new-section.home {
    background-position: center top 5px; }
    body.home-page section.new-section.home .home-wrapper {
      padding-top: 320px; }
  body.home-page .new-section.about {
    min-height: 1155px; }
    body.home-page .new-section.about .container-fluid {
      padding-right: 60px;
      padding-left: 60px; }
      body.home-page .new-section.about .container-fluid .row {
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 0; }
        body.home-page .new-section.about .container-fluid .row .col-sm-12 {
          padding-right: 15px;
          padding-left: 15px; }
      body.home-page .new-section.about .container-fluid .icons {
        bottom: 60px; }
        body.home-page .new-section.about .container-fluid .icons div {
          margin: 0 5%; }
          body.home-page .new-section.about .container-fluid .icons div p {
            font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact img {
    margin: 15% auto 0 auto; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 992px) {
  body.home-page .main-header img {
    display: block; }
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page section.new-section.home {
    background-position: center top 5px; }
    body.home-page section.new-section.home .home-wrapper {
      padding-top: 320px; }
  body.home-page .new-section.about {
    min-height: 924px; }
    body.home-page .new-section.about .container-fluid {
      padding-right: 60px;
      padding-left: 60px; }
      body.home-page .new-section.about .container-fluid .row {
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 0; }
        body.home-page .new-section.about .container-fluid .row .col-sm-12 {
          padding-right: 15px;
          padding-left: 15px; }
      body.home-page .new-section.about .container-fluid .icons {
        bottom: 90px; }
        body.home-page .new-section.about .container-fluid .icons p {
          font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact img {
    margin: 15% auto 0 auto; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 1200px) {
  body.home-page .main-header img {
    display: block; }
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page section.new-section.home {
    background-position: center top 5px; }
    body.home-page section.new-section.home .home-wrapper {
      padding-top: 320px; }
  body.home-page .new-section.about .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    body.home-page .new-section.about .container-fluid .row {
      margin-right: -15px;
      margin-left: -15px;
      padding-top: 0; }
      body.home-page .new-section.about .container-fluid .row .col-sm-12 {
        padding-right: 15px;
        padding-left: 15px; }
    body.home-page .new-section.about .container-fluid .icons {
      bottom: 235px; }
      body.home-page .new-section.about .container-fluid .icons p {
        font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact img {
    margin: 15% auto 0 auto; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 1500px) {
  body.home-page .main-header img {
    display: block; }
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page section.new-section.home {
    background-position: center top 40px; }
    body.home-page section.new-section.home .home-wrapper {
      padding-top: 400px; }
  body.home-page .new-section.about .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    body.home-page .new-section.about .container-fluid .row {
      margin-right: -15px;
      margin-left: -15px;
      padding-top: 50px; }
      body.home-page .new-section.about .container-fluid .row .col-sm-12 {
        padding-right: 15px;
        padding-left: 15px; }
    body.home-page .new-section.about .container-fluid .icons {
      bottom: 100px; }
      body.home-page .new-section.about .container-fluid .icons p {
        font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact img {
    margin: 15% auto 0 auto; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 375px) {
  html body.projects .App .banner nav {
    display: none; }
  html body.projects .App .projects-header {
    bottom: 75px !important; }
    html body.projects .App .projects-header ul {
      display: none; }
  html body.projects .App .container-fluid.bbc-container .row .col-xs-12, html body.projects .App .container-fluid.bbc-container .row .col-sm-12, html body.projects .App .container-fluid.bbc-container .row .col-md-12, html body.projects .App .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 0;
    padding-left: 0; }
  html body.projects .App .container-fluid {
    padding-right: 30px;
    padding-left: 30px; }
    html body.projects .App .container-fluid .main-header img {
      display: none; }
    html body.projects .App .container-fluid .main-header nav.main-nav {
      margin-left: 40px; }
    html body.projects .App .container-fluid .row img.batman {
      width: 108%;
      margin-top: 0;
      position: static; }
    html body.projects .App .container-fluid .row.scooby {
      padding-top: 60px;
      padding-bottom: 180px; }
      html body.projects .App .container-fluid .row.scooby > div:first-child {
        margin-right: 130px; }
      html body.projects .App .container-fluid .row.scooby img.scooby-van {
        top: -172px; }
      html body.projects .App .container-fluid .row.scooby .para1 {
        margin-left: 0;
        max-width: 90%;
        padding-left: 60px;
        margin-top: 300px; }
      html body.projects .App .container-fluid .row.scooby .para2 {
        max-width: 90%;
        padding-left: 60px;
        margin-top: 0; }
    html body.projects .App .container-fluid .row.ctn-ntw {
      padding-top: 80px; }
      html body.projects .App .container-fluid .row.ctn-ntw img.adv-time {
        top: -169px;
        right: 113px;
        width: 265px; }
    html body.projects .App .container-fluid .row.youtube ul {
      display: none; }
  html body.projects .App img.personas {
    width: 497px;
    margin-top: -79px; } }

@media (min-width: 576px) {
  html body.projects .App .banner nav {
    display: block; }
  html body.projects .App .projects-header {
    bottom: 25px !important; }
    html body.projects .App .projects-header ul {
      display: block; }
  html body.projects .App .container-fluid.bbc-container .row .col-xs-12, html body.projects .App .container-fluid.bbc-container .row .col-sm-12, html body.projects .App .container-fluid.bbc-container .row .col-md-12, html body.projects .App .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 0;
    padding-left: 0; }
  html body.projects .App .container-fluid {
    padding-right: 30px;
    padding-left: 30px; }
    html body.projects .App .container-fluid .main-header img {
      display: block; }
    html body.projects .App .container-fluid .main-header nav.main-nav {
      margin-left: 60px; }
    html body.projects .App .container-fluid .row img.batman {
      width: 108%;
      margin-top: 0;
      position: static; }
    html body.projects .App .container-fluid .row.scooby {
      padding-top: 60px;
      padding-bottom: 180px; }
      html body.projects .App .container-fluid .row.scooby > div:first-child {
        margin-right: 130px; }
      html body.projects .App .container-fluid .row.scooby img.scooby-van {
        top: -172px; }
      html body.projects .App .container-fluid .row.scooby .para1 {
        margin-left: 0;
        max-width: 90%;
        padding-left: 60px;
        margin-top: 300px; }
      html body.projects .App .container-fluid .row.scooby .para2 {
        max-width: 90%;
        padding-left: 60px;
        margin-top: 0; }
    html body.projects .App .container-fluid .row.ctn-ntw {
      padding-top: 80px; }
      html body.projects .App .container-fluid .row.ctn-ntw img.adv-time {
        top: -169px;
        right: 113px;
        width: 265px; }
    html body.projects .App .container-fluid .row.youtube ul {
      display: none; }
    html body.projects .App .container-fluid .projects-header ul {
      display: block;
      margin: 0 35px; }
  html body.projects .App img.personas {
    width: 767px;
    margin-top: -91px; } }

@media (min-width: 768px) {
  html body.projects .App .container-fluid.bbc-container .row .col-xs-12, html body.projects .App .container-fluid.bbc-container .row .col-sm-12, html body.projects .App .container-fluid.bbc-container .row .col-md-12, html body.projects .App .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 0;
    padding-left: 0; }
  html body.projects .App .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    html body.projects .App .container-fluid .main-header img {
      display: block; }
    html body.projects .App .container-fluid .main-header nav.main-nav {
      margin-left: 60px; }
    html body.projects .App .container-fluid .row img.batman {
      width: 108%;
      margin-top: 0;
      position: static; }
    html body.projects .App .container-fluid .row.scooby {
      padding-top: 60px;
      padding-bottom: 180px; }
      html body.projects .App .container-fluid .row.scooby > div:first-child {
        margin-right: 130px; }
      html body.projects .App .container-fluid .row.scooby .para1 {
        margin-left: 0;
        max-width: 90%;
        padding-left: 60px;
        margin-top: 300px; }
      html body.projects .App .container-fluid .row.scooby .para2 {
        max-width: 90%;
        padding-left: 60px;
        margin-top: 0; }
      html body.projects .App .container-fluid .row.scooby img.scooby-van {
        top: -172px; }
    html body.projects .App .container-fluid .row.ctn-ntw {
      padding-top: 80px; }
      html body.projects .App .container-fluid .row.ctn-ntw img.adv-time {
        top: -206px;
        right: 230px;
        width: 340px; }
    html body.projects .App .container-fluid .row.youtube ul {
      display: block; }
    html body.projects .App .container-fluid .projects-header ul {
      display: block;
      margin: 0 60px; }
  html body.projects .App img.personas {
    width: 936px;
    margin-top: -84px; } }

@media (min-width: 992px) {
  html body.projects .App .container-fluid.bbc-container .row .col-xs-12, html body.projects .App .container-fluid.bbc-container .row .col-sm-12, html body.projects .App .container-fluid.bbc-container .row .col-md-12, html body.projects .App .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 10%;
    padding-left: 10%; }
  html body.projects .App .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    html body.projects .App .container-fluid .main-header img {
      display: block; }
    html body.projects .App .container-fluid .main-header nav.main-nav {
      margin-left: 60px; }
    html body.projects .App .container-fluid .row img.batman {
      width: 180%;
      margin-top: 50px;
      position: absolute; }
    html body.projects .App .container-fluid .row.scooby {
      padding-top: 60px;
      padding-bottom: 130px; }
      html body.projects .App .container-fluid .row.scooby > div:first-child {
        margin-right: 130px; }
      html body.projects .App .container-fluid .row.scooby img.scooby-van {
        top: -172px; }
      html body.projects .App .container-fluid .row.scooby .para1 {
        margin-left: 465px;
        max-width: 44%;
        min-width: 50%;
        padding-top: 30px;
        margin-top: 0; }
      html body.projects .App .container-fluid .row.scooby .para2 {
        max-width: 90%;
        padding-left: 60px;
        margin-top: 115px;
        min-width: 90%; }
    html body.projects .App .container-fluid .row.ctn-ntw img.adv-time {
      top: -206px;
      right: 230px;
      width: 340px; }
    html body.projects .App .container-fluid .row.youtube ul {
      display: block; }
    html body.projects .App .container-fluid .projects-header ul {
      display: block;
      margin: 0 60px; }
  html body.projects .App img.personas {
    width: 520px;
    margin-top: -123px; } }

@media (min-width: 1200px) {
  html body.projects .App .container-fluid.bbc-container .row .col-xs-12, html body.projects .App .container-fluid.bbc-container .row .col-sm-12, html body.projects .App .container-fluid.bbc-container .row .col-md-12, html body.projects .App .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 10%;
    padding-left: 10%; }
  html body.projects .App .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    html body.projects .App .container-fluid .main-header img {
      display: block; }
    html body.projects .App .container-fluid .main-header nav.main-nav {
      margin-left: 60px; }
    html body.projects .App .container-fluid .row img.batman {
      width: 140%;
      margin-top: 10px;
      position: absolute; }
    html body.projects .App .container-fluid .row.scooby {
      padding-top: 60px;
      padding-bottom: 0; }
      html body.projects .App .container-fluid .row.scooby > div:first-child {
        margin-right: 100px; }
      html body.projects .App .container-fluid .row.scooby img.scooby-van {
        top: -172px; }
      html body.projects .App .container-fluid .row.scooby .para1 {
        margin-left: 0;
        max-width: 100%;
        margin-right: 30px;
        min-width: initial;
        padding-top: 0;
        padding-left: 0; }
      html body.projects .App .container-fluid .row.scooby .para2 {
        max-width: 100%;
        padding-left: 0;
        margin-top: 0;
        min-width: initial; }
    html body.projects .App .container-fluid .row.ctn-ntw img.adv-time {
      position: absolute;
      top: -240px;
      right: 395px;
      width: 400px; }
    html body.projects .App .container-fluid .row.youtube ul {
      display: block; }
    html body.projects .App .container-fluid .projects-header ul {
      display: block;
      margin: 0 60px; }
  html body.projects .App img.personas {
    width: 640px;
    margin-top: -132px; } }

@media (min-width: 1580px) {
  html body.projects .App .container-fluid.bbc-container .row .col-xs-12, html body.projects .App .container-fluid.bbc-container .row .col-sm-12, html body.projects .App .container-fluid.bbc-container .row .col-md-12, html body.projects .App .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 10%;
    padding-left: 10%; }
  html body.projects .App .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    html body.projects .App .container-fluid .main-header img {
      display: block; }
    html body.projects .App .container-fluid .main-header nav.main-nav {
      margin-left: 60px; }
    html body.projects .App .container-fluid .row img.batman {
      width: 170%;
      margin-top: -96px;
      position: absolute; }
    html body.projects .App .container-fluid .row.scooby {
      padding-top: 100px;
      padding-bottom: 0; }
      html body.projects .App .container-fluid .row.scooby > div {
        margin-right: 30px; }
      html body.projects .App .container-fluid .row.scooby > div:first-child {
        margin-right: 0; }
      html body.projects .App .container-fluid .row.scooby img.scooby-van {
        top: -230px; }
      html body.projects .App .container-fluid .row.scooby .para1 {
        margin-left: 0;
        max-width: 100%;
        min-width: initial;
        padding-top: 0;
        padding-left: 0; }
      html body.projects .App .container-fluid .row.scooby .para2 {
        max-width: 100%;
        padding-left: 0;
        margin-top: 0;
        min-width: initial; }
    html body.projects .App .container-fluid .row.ctn-ntw img.adv-time {
      position: absolute;
      top: -240px;
      right: 395px;
      width: 400px; }
    html body.projects .App .container-fluid .row.youtube ul {
      display: block; }
    html body.projects .App .container-fluid .projects-header ul {
      display: block;
      margin: 0 60px; }
  html body.projects .App img.personas {
    width: 980px;
    margin-top: -157px; } }
