@media (min-width: 375px) {
  body.home-page .new-section.home {
    min-height: 650px; }
  body.home-page .new-section.about {
    min-height: 2180px; }
  body.home-page .new-section.approach {
    min-height: 3256px; }
  body.home-page .new-section.projects {
    min-height: 2098px; }
  body.home-page .new-section.contact {
    min-height: 800px; }
  body.home-page .main-header {
    background-image: none; }
    body.home-page .main-header nav.main-nav {
      display: none; }
  body.home-page .new-section.home {
    background-size: 450px; }
    body.home-page .new-section.home .home-wrapper {
      padding-top: 280px; }
  body.home-page .new-section.about .container-fluid {
    padding-right: 40px;
    padding-left: 40px; }
    body.home-page .new-section.about .container-fluid .row {
      margin-right: 0;
      margin-left: 0;
      padding-top: 0; }
      body.home-page .new-section.about .container-fluid .row .col-sm-12 {
        padding-right: 0;
        padding-left: 0; }
    body.home-page .new-section.about .container-fluid .icons {
      bottom: 30px; }
      body.home-page .new-section.about .container-fluid .icons div {
        margin: 0 10%; }
  body.home-page .new-section.approach .container-fluid {
    padding-right: 40px;
    padding-left: 40px; }
  body.home-page .new-section.approach .row {
    margin-right: 0;
    margin-left: 0; }
    body.home-page .new-section.approach .row .col-md-auto {
      text-align: center; }
    body.home-page .new-section.approach .row img {
      margin: 0 auto 30px auto; }
    body.home-page .new-section.approach .row div {
      padding-right: 0;
      padding-left: 0; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: none; }
  body.home-page .new-section.contact {
    margin-bottom: 0; }
    body.home-page .new-section.contact img {
      margin: 15% auto 0 auto; }
    body.home-page .new-section.contact ul {
      margin: 20% 0 0 22%; }
      body.home-page .new-section.contact ul li {
        float: left;
        clear: left;
        margin-bottom: 10px; } }

@media (min-width: 576px) {
  body.home-page .new-section.home {
    min-height: 950px; }
  body.home-page .new-section.about {
    min-height: 1630px; }
  body.home-page .new-section.approach {
    min-height: 2508px; }
  body.home-page .new-section.projects {
    min-height: 1090px; }
  body.home-page .new-section.contact {
    min-height: 924px; }
  body.home-page .main-header {
    background: #fff url(../images/pixelheads-logo.svg) no-repeat top 8px right 60px; }
    body.home-page .main-header nav.main-nav {
      margin-left: 60px;
      display: block; }
    body.home-page .main-header .main-nav-small {
      margin-left: 60px;
      display: none; }
  body.home-page section.new-section.home .home-wrapper {
    padding-top: 340px; }
  body.home-page .new-section.about .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    body.home-page .new-section.about .container-fluid .row {
      margin-right: -15px;
      margin-left: -15px;
      padding-top: 30px; }
      body.home-page .new-section.about .container-fluid .row .col-sm-12 {
        padding-right: 15px;
        padding-left: 15px; }
    body.home-page .new-section.about .container-fluid .icons {
      bottom: 60px; }
      body.home-page .new-section.about .container-fluid .icons div {
        margin: 0 6%; }
        body.home-page .new-section.about .container-fluid .icons div p {
          font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 768px) {
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page .new-section.about .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    body.home-page .new-section.about .container-fluid .row .col-sm-12 {
      padding-right: 15px;
      padding-left: 15px; }
    body.home-page .new-section.about .container-fluid .icons {
      bottom: 60px; }
      body.home-page .new-section.about .container-fluid .icons div {
        margin: 0 5%; }
        body.home-page .new-section.about .container-fluid .icons div p {
          font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 992px) {
  body.home-page .new-section.home {
    min-height: 950px; }
  body.home-page .new-section.about {
    min-height: 990px; }
  body.home-page .new-section.approach {
    min-height: 2309px; }
  body.home-page .new-section.projects {
    min-height: 930px; }
  body.home-page .new-section.contact {
    min-height: 924px; }
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page .new-section.about .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    body.home-page .new-section.about .container-fluid .row .col-sm-12 {
      padding-right: 15px;
      padding-left: 15px; }
    body.home-page .new-section.about .container-fluid .icons {
      bottom: 90px; }
      body.home-page .new-section.about .container-fluid .icons p {
        font-size: .62rem; }
  body.home-page .new-section.approach .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
  body.home-page .new-section.approach .row {
    margin-right: -15px;
    margin-left: -15px; }
    body.home-page .new-section.approach .row .col-md-auto {
      text-align: left; }
    body.home-page .new-section.approach .row img {
      margin: 0; }
    body.home-page .new-section.approach .row div {
      padding-right: 15px;
      padding-left: 15px; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 1200px) {
  body.home-page .new-section.home {
    min-height: 950px; }
  body.home-page .new-section.about {
    min-height: 950px; }
  body.home-page .new-section.approach {
    min-height: 2023px; }
  body.home-page .new-section.projects {
    min-height: 930px; }
  body.home-page .new-section.contact {
    min-height: 924px; }
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page .new-section.about .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    body.home-page .new-section.about .container-fluid .row .col-sm-12 {
      padding-right: 15px;
      padding-left: 15px; }
    body.home-page .new-section.about .container-fluid .icons {
      bottom: 75px; }
      body.home-page .new-section.about .container-fluid .icons p {
        font-size: .62rem; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 1280px) {
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page .new-section.about .container-fluid {
    padding-right: 60px;
    padding-left: 60px; }
    body.home-page .new-section.about .container-fluid .row .col-sm-12 {
      padding-right: 15px;
      padding-left: 15px; }
  body.home-page .new-section.projects .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    body.home-page .new-section.projects .container-fluid .projects-header nav > a {
      display: inline-block; }
  body.home-page .new-section.contact ul {
    margin: 40px 0 0 0; }
    body.home-page .new-section.contact ul li {
      float: none;
      clear: none;
      margin-bottom: 0; } }

@media (min-width: 1500px) {
  body.home-page .new-section.approach {
    min-height: 1539px; }
  body.home-page .main-header nav.main-nav {
    margin-left: 60px; }
  body.home-page section.new-section.home {
    background-position: center top 80px; }
    body.home-page section.new-section.home .home-wrapper {
      padding-top: 450px; }
  body.home-page .new-section.about .container-fluid .row {
    padding-top: 50px; }
  body.home-page .new-section.about .container-fluid .icons {
    bottom: 160px; }
  body.home-page .new-section.approach .row img {
    width: 115px; } }

@media (min-width: 375px) {
  html body.projects .main-header {
    background-image: none; }
    html body.projects .main-header nav.main-nav {
      display: none; }
  html body.projects .container a.top {
    display: none; }
  html body.projects .banner {
    height: 190px;
    background-size: 130%; }
    html body.projects .banner nav.downloads-menu {
      display: none; }
    html body.projects .banner nav.projects-menu {
      top: 126px;
      left: 40px; }
      html body.projects .banner nav.projects-menu h4 {
        display: none; }
      html body.projects .banner nav.projects-menu ul li {
        width: 33%;
        display: inline-block;
        margin-bottom: 0; }
    html body.projects .banner h1 {
      margin: 70px 0 6px 0;
      font-size: 1.1rem; }
  html body.projects .projects-header {
    bottom: 75px !important; }
    html body.projects .projects-header ul {
      display: none; }
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 0;
    padding-left: 0; }
  html body.projects .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 190px; }
    html body.projects .container-fluid h2 {
      font-size: 40px; }
    html body.projects .container-fluid .row .red-panel {
      margin-top: 20px; }
    html body.projects .container-fluid .row img.batman {
      width: 185%;
      margin-top: 0;
      position: static;
      margin-bottom: 20px; }
    html body.projects .container-fluid .row.carousel {
      margin: 30px 0 -125px 0; }
      html body.projects .container-fluid .row.carousel img {
        margin-top: 0 !important; }
    html body.projects .container-fluid .row.scooby {
      padding-top: 60px;
      padding-bottom: 50px; }
      html body.projects .container-fluid .row.scooby > div:first-child {
        margin-right: 130px; }
      html body.projects .container-fluid .row.scooby img.scooby-van {
        top: -172px;
        width: 190px; }
      html body.projects .container-fluid .row.scooby .para1 {
        margin-left: 0;
        padding-left: 0;
        margin-top: 50px; }
      html body.projects .container-fluid .row.scooby .para2 {
        padding-left: 0;
        margin-top: 0; }
    html body.projects .container-fluid .row.ctn-ntw {
      padding-top: 80px; }
      html body.projects .container-fluid .row.ctn-ntw img.adv-time {
        top: -169px;
        right: 113px;
        width: 265px; }
    html body.projects .container-fluid .row.youtube ul {
      display: none; }
  html body.projects img.personas {
    width: 400px;
    margin-top: -79px; } }

@media (min-width: 576px) {
  html body.projects .transpose-menu .main-header {
    background-image: url(../images/pixelheads-logo.svg) !important; }
  html body.projects .main-header {
    background-image: url(../images/pixelheads-logo-inverted.svg); }
    html body.projects .main-header nav.main-nav {
      display: block;
      margin-left: 60px; }
    html body.projects .main-header .main-nav-small {
      display: none; }
  html body.projects .container a.top {
    display: none; }
  html body.projects .banner {
    height: 395px;
    background-size: 100% !important; }
    html body.projects .banner nav.downloads-menu {
      display: block; }
    html body.projects .banner nav.projects-menu {
      top: 50px;
      left: 60px; }
      html body.projects .banner nav.projects-menu h4 {
        display: block; }
      html body.projects .banner nav.projects-menu ul li {
        width: auto;
        display: block;
        margin-bottom: 6px; }
    html body.projects .banner h1 {
      margin: 70px 0 105px 0;
      font-size: 1.5rem; }
  html body.projects .projects-header {
    bottom: 25px !important; }
    html body.projects .projects-header ul {
      display: block; }
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 0;
    padding-left: 0; }
  html body.projects .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 395px; }
    html body.projects .container-fluid h2 {
      font-size: 52px; }
    html body.projects .container-fluid .row .red-panel {
      margin-top: 20px; }
    html body.projects .container-fluid .row img.batman {
      width: 108%;
      margin-top: 0;
      position: static;
      margin-bottom: 0; }
    html body.projects .container-fluid .row.carousel {
      margin: 30px 0 -160px 0; }
      html body.projects .container-fluid .row.carousel img {
        margin-top: -10px !important; }
    html body.projects .container-fluid .row.scooby {
      padding-top: 60px;
      padding-bottom: 180px; }
      html body.projects .container-fluid .row.scooby > div:first-child {
        margin-right: 130px; }
      html body.projects .container-fluid .row.scooby img.scooby-van {
        top: -172px;
        width: 451px; }
      html body.projects .container-fluid .row.scooby .para1 {
        margin-left: 0;
        max-width: 90%;
        padding-left: 60px;
        margin-top: 50px; }
      html body.projects .container-fluid .row.scooby .para2 {
        max-width: 90%;
        padding-left: 60px;
        margin-top: 0; }
    html body.projects .container-fluid .row.ctn-ntw {
      padding-top: 80px; }
      html body.projects .container-fluid .row.ctn-ntw img.adv-time {
        top: -169px;
        right: 113px;
        width: 265px; }
    html body.projects .container-fluid .row.youtube ul {
      display: none; }
    html body.projects .container-fluid .projects-header ul {
      display: block;
      margin: 0 35px; }
  html body.projects img.personas {
    width: 600px;
    margin-top: -91px; } }

@media (min-width: 768px) {
  html body.projects .container a.top {
    display: inline-block; }
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 0;
    padding-left: 0; }
  html body.projects .container-fluid {
    padding-right: 45px;
    padding-left: 45px; }
    html body.projects .container-fluid .row .red-panel {
      margin-top: 20px; }
    html body.projects .container-fluid .row img.batman {
      width: 108%;
      margin-top: 0;
      position: static; }
    html body.projects .container-fluid .row.scooby {
      padding-top: 60px;
      padding-bottom: 180px; }
      html body.projects .container-fluid .row.scooby > div:first-child {
        margin-right: 130px; }
      html body.projects .container-fluid .row.scooby .para1 {
        margin-left: 0;
        max-width: 90%;
        padding-left: 60px;
        margin-top: 300px; }
      html body.projects .container-fluid .row.scooby .para2 {
        max-width: 90%;
        padding-left: 60px;
        margin-top: 0; }
      html body.projects .container-fluid .row.scooby img.scooby-van {
        top: -172px; }
    html body.projects .container-fluid .row.ctn-ntw {
      padding-top: 80px; }
      html body.projects .container-fluid .row.ctn-ntw img.adv-time {
        top: -206px;
        right: 230px;
        width: 340px; }
    html body.projects .container-fluid .row.youtube ul {
      display: block; }
    html body.projects .container-fluid .projects-header ul {
      display: block;
      margin: 0 60px; }
  html body.projects img.personas {
    width: 100%;
    margin-top: -90px; } }

@media (min-width: 992px) {
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 10%;
    padding-left: 10%; }
  html body.projects .container-fluid .row .red-panel {
    margin-top: 0; }
  html body.projects .container-fluid .row img.batman {
    width: 180%;
    margin-top: 50px;
    position: absolute; }
  html body.projects .container-fluid .row.scooby {
    padding-top: 60px;
    padding-bottom: 130px; }
    html body.projects .container-fluid .row.scooby > div:first-child {
      margin-right: 130px; }
    html body.projects .container-fluid .row.scooby img.scooby-van {
      top: -172px; }
    html body.projects .container-fluid .row.scooby .para1 {
      margin-left: 465px;
      max-width: 44%;
      min-width: 50%;
      padding-top: 30px;
      margin-top: 0; }
    html body.projects .container-fluid .row.scooby .para2 {
      max-width: 90%;
      padding-left: 60px;
      margin-top: 115px;
      min-width: 90%; }
  html body.projects .container-fluid .row.ctn-ntw img.adv-time {
    top: -206px;
    right: 230px;
    width: 340px; }
  html body.projects .container-fluid .row.youtube ul {
    display: block; }
  html body.projects .container-fluid .projects-header ul {
    display: block;
    margin: 0 60px; }
  html body.projects img.personas {
    width: 100%;
    margin-top: -160px; } }

@media (min-width: 1200px) {
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 10%;
    padding-left: 10%; }
  html body.projects .container-fluid .row img.batman {
    width: 140%;
    margin-top: 10px;
    position: absolute; }
  html body.projects .container-fluid .row.scooby {
    padding-top: 60px;
    padding-bottom: 0; }
    html body.projects .container-fluid .row.scooby > div:first-child {
      margin-right: 100px; }
    html body.projects .container-fluid .row.scooby img.scooby-van {
      top: -172px; }
    html body.projects .container-fluid .row.scooby .para1 {
      margin-left: 0;
      max-width: 100%;
      margin-right: 30px;
      min-width: initial;
      padding-top: 0;
      padding-left: 0; }
    html body.projects .container-fluid .row.scooby .para2 {
      max-width: 100%;
      padding-left: 0;
      margin-top: 0;
      min-width: initial; }
  html body.projects .container-fluid .row.ctn-ntw img.adv-time {
    position: absolute;
    top: -240px;
    right: 395px;
    width: 400px; }
  html body.projects .container-fluid .row.youtube ul {
    display: block; }
  html body.projects .container-fluid .projects-header ul {
    display: block;
    margin: 0 60px; } }

@media (min-width: 1580px) {
  html body.projects .container-fluid.bbc-container .row .col-xs-12, html body.projects .container-fluid.bbc-container .row .col-sm-12, html body.projects .container-fluid.bbc-container .row .col-md-12, html body.projects .container-fluid.bbc-container .row .col-lg-12 {
    padding-right: 10%;
    padding-left: 10%; }
  html body.projects .container-fluid .row img.batman {
    width: 170%;
    margin-top: -96px;
    position: absolute; }
  html body.projects .container-fluid .row.scooby {
    padding-top: 100px;
    padding-bottom: 0; }
    html body.projects .container-fluid .row.scooby > div {
      margin-right: 30px; }
    html body.projects .container-fluid .row.scooby > div:first-child {
      margin-right: 0; }
    html body.projects .container-fluid .row.scooby img.scooby-van {
      top: -230px; }
    html body.projects .container-fluid .row.scooby .para1 {
      margin-left: 0;
      max-width: 100%;
      min-width: initial;
      padding-top: 0;
      padding-left: 0; }
    html body.projects .container-fluid .row.scooby .para2 {
      max-width: 100%;
      padding-left: 0;
      margin-top: 0;
      min-width: initial; }
  html body.projects .container-fluid .row.ctn-ntw img.adv-time {
    position: absolute;
    top: -240px;
    right: 395px;
    width: 400px; }
  html body.projects .container-fluid .row.youtube ul {
    display: block; }
  html body.projects .container-fluid .projects-header ul {
    display: block;
    margin: 0 60px; } }
