/*responsive sass*/
.landing-page .iphone-portrait header.main-header {
  visibility: hidden; }

.landing-page .iphone-portrait .content {
  padding: 160px 10% 0 10%; }
  .landing-page .iphone-portrait .content .logo {
    margin: 0 0 0 32px; }

/* DESKTOP */
.desktop header.main-header,
.desktop .sub-header,
.desktop .ReactStickyHeader_root,
.desktop ul.summary {
  min-width: 920px; }

/* PORTRAIT */
.iphone-portrait header.main-header {
  padding: 0 8px; }
  .iphone-portrait header.main-header nav {
    position: absolute;
    right: 10px;
    top: 0; }
    .iphone-portrait header.main-header nav ul.main-nav {
      padding: 0;
      margin: 0;
      float: right; }
      .iphone-portrait header.main-header nav ul.main-nav li {
        margin: 0 20px; }
      .iphone-portrait header.main-header nav ul.main-nav li:last-child {
        margin: 0; }
    .iphone-portrait header.main-header nav ul.social {
      display: none; }

.iphone-portrait .content {
  padding: 66px 8px 50px 8px; }
  .iphone-portrait .content .sub-header {
    width: 100%;
    background-color: transparent;
    position: static;
    padding: 0; }
    .iphone-portrait .content .sub-header .intro, .iphone-portrait .content .sub-header h1, .iphone-portrait .content .sub-header h2 {
      display: none; }
    .iphone-portrait .content .sub-header aside {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      overflow-x: auto;
      background-color: #252525;
      font-size: 15px; }
      .iphone-portrait .content .sub-header aside ul {
        display: none; }
      .iphone-portrait .content .sub-header aside ul.mobile-version {
        display: inline-block;
        width: 1600px; }
        .iphone-portrait .content .sub-header aside ul.mobile-version li {
          float: none;
          display: inline-block;
          margin: 0; }
          .iphone-portrait .content .sub-header aside ul.mobile-version li a {
            padding: 10px 30px; }
          .iphone-portrait .content .sub-header aside ul.mobile-version li a.active {
            border: none;
            padding: 10px 30px; }
  .iphone-portrait .content .projects .work .ReactStickyHeader_root {
    display: none; }
  .iphone-portrait .content .projects .work .examples {
    padding-top: 45px; }
    .iphone-portrait .content .projects .work .examples h2, .iphone-portrait .content .projects .work .examples h2 a {
      margin: 0;
      font-size: 12px; }
    .iphone-portrait .content .projects .work .examples p {
      min-width: 100%;
      width: auto; }
    .iphone-portrait .content .projects .work .examples .platform-logos ul {
      padding: 0; }
      .iphone-portrait .content .projects .work .examples .platform-logos ul li.umg {
        width: 55%; }
      .iphone-portrait .content .projects .work .examples .platform-logos ul li.studiohub {
        margin-left: 30px; }
    .iphone-portrait .content .projects .work .examples .image-wrapper {
      margin-bottom: 20px; }
    .iphone-portrait .content .projects .work .examples div.LWS-landing-page {
      height: 172px; }
    .iphone-portrait .content .projects .work .examples div.LWS-masters {
      height: 200px; }
    .iphone-portrait .content .projects .work .examples div.LWS-song-overview {
      height: 680px; }
    .iphone-portrait .content .projects .work .examples div.RWS-landing-page {
      height: 215px; }
    .iphone-portrait .content .projects .work .examples div.RWS-release {
      height: 215px; }
    .iphone-portrait .content .projects .work .examples div.RWS-scheduling {
      height: 235px; }
    .iphone-portrait .content .projects .work .examples div.RWS-manage-release {
      height: 235px; }
    .iphone-portrait .content .projects .work .examples div.RWS-components {
      height: 300px; }
  .iphone-portrait .content .thanks {
    width: auto;
    line-height: 16px; }
    .iphone-portrait .content .thanks h1 {
      font-size: 30px; }

.iphone-portrait footer {
  display: none !important; }

/* LANDSCAPE */
.iphone-landscape header.main-header {
  padding: 0 8px; }
  .iphone-landscape header.main-header nav {
    position: absolute;
    right: 10px;
    top: 0; }
    .iphone-landscape header.main-header nav ul.main-nav {
      padding: 0;
      margin: 0;
      float: right; }
      .iphone-landscape header.main-header nav ul.main-nav li {
        margin: 0 20px; }
      .iphone-landscape header.main-header nav ul.main-nav li:last-child {
        margin: 0; }
    .iphone-landscape header.main-header nav ul.social {
      display: none; }

.iphone-landscape .content {
  padding: 66px 8px 50px 8px; }
  .iphone-landscape .content .sub-header {
    width: 100%;
    background-color: transparent;
    position: static;
    padding: 0; }
    .iphone-landscape .content .sub-header .intro, .iphone-landscape .content .sub-header h1, .iphone-landscape .content .sub-header h2 {
      display: none; }
    .iphone-landscape .content .sub-header aside {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      overflow-x: auto;
      background-color: #252525;
      font-size: 15px; }
      .iphone-landscape .content .sub-header aside ul {
        display: none; }
      .iphone-landscape .content .sub-header aside ul.mobile-version {
        display: inline-block;
        width: 1600px; }
        .iphone-landscape .content .sub-header aside ul.mobile-version li {
          float: none;
          display: inline-block;
          margin: 0; }
          .iphone-landscape .content .sub-header aside ul.mobile-version li a {
            padding: 10px 30px; }
          .iphone-landscape .content .sub-header aside ul.mobile-version li a.active {
            border: none;
            padding: 10px 30px; }
  .iphone-landscape .content .projects .work .ReactStickyHeader_root {
    display: none; }
  .iphone-landscape .content .projects .work .examples {
    padding-top: 45px; }
    .iphone-landscape .content .projects .work .examples h2, .iphone-landscape .content .projects .work .examples h2 a {
      margin: 0;
      font-size: 12px; }
    .iphone-landscape .content .projects .work .examples p {
      min-width: 100%;
      width: auto; }
    .iphone-landscape .content .projects .work .examples .platform-logos ul {
      padding: 0; }
      .iphone-landscape .content .projects .work .examples .platform-logos ul li.umg {
        width: 55%; }
      .iphone-landscape .content .projects .work .examples .platform-logos ul li.studiohub {
        margin-left: 30px; }
    .iphone-landscape .content .projects .work .examples .image-wrapper {
      margin-bottom: 20px; }
    .iphone-landscape .content .projects .work .examples div.LWS-landing-page {
      height: 172px; }
    .iphone-landscape .content .projects .work .examples div.LWS-masters {
      height: 200px; }
    .iphone-landscape .content .projects .work .examples div.LWS-song-overview {
      height: 680px; }
    .iphone-landscape .content .projects .work .examples div.RWS-landing-page {
      height: 215px; }
    .iphone-landscape .content .projects .work .examples div.RWS-release {
      height: 215px; }
    .iphone-landscape .content .projects .work .examples div.RWS-scheduling {
      height: 235px; }
    .iphone-landscape .content .projects .work .examples div.RWS-manage-release {
      height: 235px; }
    .iphone-landscape .content .projects .work .examples div.RWS-components {
      height: 300px; }
  .iphone-landscape .content .thanks {
    width: auto;
    line-height: 16px; }
    .iphone-landscape .content .thanks h1 {
      font-size: 30px; }

.iphone-landscape footer {
  display: none !important; }
