@import "variables";
@import "mixins";
@import "images";

.home-page {
    //background:$black url('../images/bg.png') center bottom no-repeat;
    background-color:$black;
    background-size:90%;
    text-align: center;
    .App {padding:9% 0 0 0}
    header {display:none}
    .welcome {
        display: inline-block;
        background: url($pixelheadsLogoFull) 0 center no-repeat;
        background-size: 100px;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        text-align: left;
        h3 {
            color:$white;
            margin: 117px 0 0 50px;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 1px
        }
        p {
            color:$white;
            margin: 20px 0 0 0;
            font-size: 12px;
            font-weight: 200;
            opacity: 0.5;
            line-height: 16px;
        }
    }
}

.contact-page {
    .content {
        padding-top:6%;
    }
}
.App {
    padding:180px 50px 50px 0;
    .is-sticky {
        .sub-nav {
            position:fixed; 
            top:50px; 
            z-index:0;
            opacity: 0.95;
        }
    }
    .sub-nav {
        margin:0;
        padding:0 60px;
        font-size:9px;
        line-height:14px;
        background-color:$subNav;
        position:fixed;
        z-index: 1;
        left: 0;
        right: 0;
        top:134px;
        height: 32px;
        white-space: nowrap;
        ul {
            margin:0 0 0 220px;
            padding:0;
            li:first-child {padding-left:0; border-left:none}
            li:last-child {margin-right:0;}
            li {
                display:inline-block;
                margin:4px 50px 0 0;
                a.active {opacity:1}
                a {
                    @include font(100, 15px);
                    color:$white;
                    opacity:0.5;
                }
            }
        }
    }
    // mdl tabs
    .mdl-tabs {
        margin: 0;
        padding: 0;
        position: fixed;
        left: 80px;
        top: 180px;
        z-index: 1;
        h3 {
            @include font(300, 1.1rem);
            margin: 8px 0 18px 0; 
        }
        // mdl tabs
        .mdl-tabs__tab-bar {
            margin:5px 0 0 0;
            padding:0;
            .is-active {color:$red!important;}
            .mdl-tabs__tab {
                @include font(500, 13px);
                color:$black;
                margin: 0 0 12px 0;
                float: left;
                clear: left;
            }
        }
    }
    aside {
        font-size: 11px;
        position: fixed;
        width:260px;
        left: 0;
        top: 166px;
        bottom: 0;
        background-color:$aside;
        .logos {
            a.active {
                opacity:1; 
                background-color: $white;
                @include drop-shadow(-2px, 0, 6px, $alpha: 0.1);
            }
            a:first-child {margin-top:17px;}
            a {
                opacity:0.3;
                background-repeat: no-repeat;
                position: relative;
                width: 52px;
                height: 50px;
                z-index: 1;
                left: 8px;
                margin: 5px 0 0 0;
                padding: 0;
                border-radius: 4px 0 0 4px;
                float:left;
                clear:left;
            }
            a:nth-child(1) {background-image:url($umg); background-size: 42px; background-position: 5px 12px;}
            a:nth-child(2) {background-image:url($nationalArchives); background-size: 29px; background-position: 9px 14px;}
            a:nth-child(3) {background-image:url($turner); background-size: 28px; background-position: 11px 11px;}
            a:nth-child(4) {background-image:url($discovery); background-size: 30px; background-position: 11px 12px;}
            a:nth-child(5) {background-image:url($umg); background-size: 42px; background-position: 5px 12px;}
            a:nth-child(6) {background-image:url($bbc); background-size: 33px; background-position: 8px 20px;}
            a:nth-child(7) {background-image:url($pfizer); background-size: 40px; background-position: 5px 13px;}
            a:nth-child(8) {background-image:url($fullsix); background-size: 28px; background-position: 10px 11px;}
        }
        h3 {margin:0 0 8px 15px}
        ul.mobile-version {display:none}
        .shadow {
            @include drop-shadow(-2px, 0, 6px, $alpha: 0.1);
            margin:0;
            padding:10px 0 0 5px;
            background: $white;
            position: absolute;
            top: 0;
            left: 60px;
            right: 0;
            bottom: 0;
            border-right:1px dashed $lightGrey;
        }
    }
    .projects {
        padding-left:280px;
        .contextual-links {
            float:left;
            clear:left;
            width:100%;
            a {
                float:left;
                clear:left;
                margin: 0 0 20px 0;
            }
        }
        img {width:100%; max-width: 1200px; min-width: 300px;}
        .menu-info {
            background-size:100px;
            color:$red;
            position: fixed;
            left: 80px;
            z-index: 1;
            width: 160px;
            margin-top:5px;
            font-size: 13px;
        }
        .projects-intro {
            max-width:70%;
        }
        .info-divider {
            width:70%;
            float: left;
            clear:left;
            border-top: 1px dotted $lightGrey;
            border-bottom: 1px dotted $lightGrey;
            @include font(300, 13px);
            padding:30px 0;
            margin: 30px 0;
            line-height: 22px;
            color:$darkGrey;
        }
        .magnifier {
            // Styles for <div> around image and magnifying glass 
        }
        .magnifier-image {
            // Styles for large image 
        }     
        .magnifying-glass {
            // Styles for magnifying glass 
            border:1px solid $lightGrey;
            box-shadow: none;
            width:210px!important;
            height:210px!important;
        }
    }
    .toggle {
        background:url($toggleChevron) center center no-repeat;
        background-size: 18px;
        position: fixed;
        width: 18px;
        height: 18px;
        overflow: hidden;
        top: 139px;
        z-index: 2;
        left: 21px;
        padding: 2px 0 1px 2px;
        float: left;
        transform: rotate(0deg);
    }
    .sub-header, .sub-nav ul, .projects, aside {transition: all 0.5s ease;}
    .menu-info, .mdl-tabs {transition: all 1.5s ease;}
    .hide-menu {
        padding-left:80px!important; 
        transition: all 0.5s ease;
        .mdl-tabs,
        .menu-info {
            opacity: 0;
            transition: all 0.4s ease;
        }
        aside {
            width:60px;
            
            .shadow {border-right:none}
        }
        .toggle {transform: rotate(180deg);}
        .sub-nav ul {
            transition: all 0.5s ease;
            margin-left:0;
        }
        .sub-header {
            left:-220px;
            transition: all 0.5s ease;
        }
    }
    .thanks {width:500px}

    // section headers
    header.section-header {
        border-bottom:1px dashed $lightGrey;
        margin: 0 0 10px 0;
        padding: 0 0 5px 0;
    }

    // lists
    ul {
        margin: 0;
        padding: 0 0 0 16px;
        li {
            margin: 0 0 5px 0;
            padding: 0;
        }
    }

    // tables
    table {
        th {
            white-space: nowrap;
            color: $tableHead;
            font-weight: 300;
            font-size: 0.9rem;
            padding: 0 40px 5px 0;
        }
        th, td {
            text-align: left;
        }
        tbody {
            td {
                vertical-align: top;
                padding: 0 40px 20px 0;
                color:$darkGrey;
                li {
                    margin: 0;
                }
            }
        }
    }
}