/*default sass*/
@import "content";
@import "footer";
@import "header";
@import "helpers";
@import "images";
@import "mixins";
@import "responsive";
@import "subheader";
@import "variables";
@import "clients/umg";

html, body, #root, .projects, .projects-grid, 
.mdl-cell, .content, .mobile, .sub-nav + div {height:100%}

footer {display:none}

.hide {
    .hide-sub-header,
    .menu-info, 
    .projects-intro {display:none}
}

// helpers
.border-dashed-light {border:1px dashed $lightGrey}
.drop-shadow {@include drop-shadow(0, 5px, 20px, $alpha: 0.1);}
.clear {float: left; clear:left}

.animate {
    transition: all 0.5s ease;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

body.landing-page {
    background-color:$body;
    .content {
        p {color:$copy; margin:0 0 6px 0}
        text-align: center;
        a {display:inline-block}
        .logo {
            background: url($pixelHeadsLogo) no-repeat center center;
            display: inline-block;
            background-size: 100%;
            width: 170px;
            height: 112px;
            margin: 90px auto 0 auto;
        }
        .intro {
            @include font(300, 12px);
            margin:6px 0 4px 0;
        }
        a:hover {color:$h2}
    }
}
body {
    margin: 0;
    padding: 0;
    @include font(300, 0.78rem);
    line-height:20px;
    letter-spacing: 0.05em;
    /*font-family: $roboto-slab;*/
    /* Custom scrollbars. Only works for chrome and Safari */
    ::-webkit-scrollbar-track {-webkit-box-shadow:none; border-radius:2px; background:$lightGrey;}
    ::-webkit-scrollbar {width:2px; background-color: $white;;}
    ::-webkit-scrollbar-thumb {border-radius: 2px; -webkit-box-shadow: none; background: $red;} 
    ::-webkit-scrollbar-thumb:hover {background: $red;} 
    ::-webkit-scrollbar-thumb:active {background: black}
}

h1, h2, h3, h4, h5, h6 { white-space: nowrap }
link, a, a:visited {color:$links; text-decoration:none; cursor:pointer}
a:hover {text-decoration:none; color:$Hover}
a.link-large {@include font(300, 15px); color:$links}
ul {
    li {padding-left:8px}
}
p {
    margin:0 0 20px 0;
    max-width: 800px;
    line-height: 1.4rem;
    a {font-size:0.8rem}
}
h1 {color:$h1; margin:0 0 15px -2px; @include font(100, 44px)}
h2 {
    color:$h2;
    margin:0 0 15px 0; 
    @include font(300, 25px); 
    clear:left;
    a.link-large {
        float:right;
        margin:5px 0 0 0;
    }
}
h3 {
    color:$black;
    @include font(600, 1.1rem); 
    margin: 0 0 3px 0;
}
h4 {
    color:$black;
    @include font(600, 0.8rem); 
    margin: 0 0 4px 0;
}

.view-inline {
    width:100%;
    p, div, span, section, article, img {
        float:left;
        clear:none;
        margin-right:70px;
    }
    p:last-child, div:last-child, span:last-child, section:last-child, article:last-child, img:last-child {
        margin-right:0;
    }
}

.scroll {
    position: relative;
    max-height: 510px;
    overflow-y: auto;
    overflow-x: hidden;
    th {
        padding-bottom: 25px!important;
        span {
            position: fixed;
            background-color:$white;
            width:100%;
            padding-top:5px;
            padding-bottom: 6px;
            margin-top:-12px;
        }
    }
}
