@import "variables";
@import "mixins";
@import "images";

body.contact-page {
    footer {
        display: inline-block;
        background: $footer;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 35%;
        padding:0 60px 0 60px;
        nav {
            display: inline-block;
            margin: 20px 0 0 0;
            ul {
                display:inline-block;
                margin:0 135px 0 0;
                padding:0;
                float:left;
                li {
                    display:block;
                    label {color:$h2}
                    a:hover {opacity:1;}
                    a {
                        color:$white;
                        @include font(300,11px);
                        opacity:0.6;
                    }
                }
            }
        }
    }
}