@import "variables";
@import "mixins";
@import "images";

.main-header {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    background-color:$white;
    height: 44px;
    width: 100%!important;
    img {position: absolute; top: 8px; right: 60px;}
    nav.main-nav {
        position: relative;
        margin-left: 60px;
        white-space: nowrap;
        float: left;
        a {
            height: 17px;
            display:inline-block;
            margin:15px 40px 0 0;
            padding: 0;
            cursor:pointer;
            color:$black!important;
            opacity:0.6;
            @include font(300, .63rem, 'latobold');
            text-transform: uppercase;
            //border-bottom: 2px solid $white;
        }
        a:hover {text-decoration: none!important}
        a.active {
            opacity:1;
            border-bottom: 2px solid $red
        }
    }
}