@import "variables";
@import "mixins";
@import "fonts";
@import "images";

// projects page only
body.projects {
    .main-header {
        .container { // override responsive for container within pahe header
            max-width: none;
            padding-left: 0;
            padding-right: 0;
            margin-right: 0;
            margin-left: 0;
        }
        background-color: $jetBlack;
        background-repeat: no-repeat;
        background-position: top 8px right 60px;
        opacity: 1;
        a.top {
            position: relative;
            overflow: hidden;
            opacity: 0;
            @include transition(all 0.5s ease-in);
            color: $black;
            width: 50px;
            height: 50px;
            margin: -50px auto 0 auto;
            display: inline-block;
            text-align: center;
            background: $black;
            transform: rotate(45deg);
            @include drop-shadow(0px, 1px, 4px, 0.1);
            div.top-arrow {
                @include transition(all 0.2s ease-in);
                display: block;
                position: absolute;
                top: 16px;
                left: 16px;
                width: 10px;
                height: 10px;
                border-left: 1px solid $red;
                border-top: 1px solid $red;
            }
            div.bottom-arrow {
                opacity: 0;
                @include transition(all 0.2s ease-in);
                display: block;
                position: absolute;
                top: 16px;
                left: 16px;
                width: 10px;
                height: 10px;
                border-left: 1px solid $red;
                border-top: 1px solid $red;
            }
            label {
                position: absolute;
                top: 20px;
                left: 23px;
                display: block;
                transform: rotate(-45deg);
                text-transform: uppercase;
                font-size: .5rem;
                color: $black;
                cursor: pointer;
            }
        }
        nav.main-nav {
            a {
                color:$white!important;
                @include font(300, .63rem, 'latoregular');
            }
        }
    }
    // hover
    .transpose-menu .main-header a.top:hover div.top-arrow  {
        @include transition( all 0.2s ease-in);
        top: 11px;
        left: 11px;
        width: 15px; 
        height: 15px;
    }
    .transpose-menu .main-header a.top:hover div.bottom-arrow  {
        @include transition(all 0.2s ease-in);
        opacity: 0.5;
    }
    .transpose-menu {
        .main-header {
            @include drop-shadow(0px, 1px, 4px, 0.1);
            @include transition(background-color 0.5s ease-in);
            background-color: $white;
            background-repeat: no-repeat;
            background-position: top 8px right 60px;
            opacity: 0.95;
            a.top {
                opacity: 1;
                margin: 19px auto 0 auto;
                background: $white;
                div {
                    @include transition(all 0.5s ease-in);
                }
            }
            nav.main-nav {
                a {
                    color:$black!important;
                    @include font(300, .63rem, 'latobold');
                }
            }
        }
    }
}

// home page only
.home-page {
    .main-header {
        nav.main-nav {
            a:nth-child(1) {animation-duration: .3s;}
            a:nth-child(2) {animation-duration: .5s;}
            a:nth-child(3) {animation-duration: .7s;}
            a:nth-child(4) {animation-duration: .9s;}
            a:nth-child(5) {animation-duration: 1.1s;}
            a {
                // uses slideInFromTop from animation.scss
                animation-timing-function: ease-in; /* how the animation will behave */
                animation-delay: 0s; /* how long to delay the animation from starting */
                animation-iteration-count: 1; /* how many times the animation will play */
                animation-name: slideInFromTop; /* the name of the animation we defined above */
            }
        }
    }
}

.main-header {
    position: fixed;
    text-align: center;
    top:0;
    left:0;
    z-index: 999;
    background:$white url(../images/pixelheads-logo.svg) no-repeat top 8px right 60px;
    height: 44px;
    width: 100%!important;
    nav.main-nav {
        position: absolute;
        margin-left: 60px;
        white-space: nowrap;
        float: left;
        a {
            height: 17px;
            display:inline-block;
            margin:15px 40px 0 0;
            padding: 0;
            cursor:pointer;
            color:$black!important;
            opacity:0.6;
            @include font(300, .63rem, 'latobold');
            text-transform: uppercase;
            //border-bottom: 2px solid $white;
        }
        a:hover {text-decoration: none!important}
        a.active {
            opacity:1;
            border-bottom: 2px solid $red
        }
    }
    .main-nav-small.show-menu {
        nav {top:0} 
        .tint {opacity: 0.8; visibility: visible}
        .menu-icon div {background-color:$black}
    }
    .main-nav-small {
        .menu-icon {
            z-index: 2;
            width: 22px;
            display: block;
            position: absolute;
            right: 15px;
            top: 15px;
            div {
                width: 100%;
                height: 3px;
                background-color: $red;
                border-radius: 30px;
                margin: 0 0 4px 0;
            }
        }
        .tint {
            background-color: $jetBlack;
            @include transition(all 0.2s ease-in);
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
        }
        nav {
            top: -245px;
            @include transition(all 0.2s ease-in);
            background: white;
            z-index: 1;
            position: fixed;
            width: 100%;
            height: 243px;
            left: 0;
            padding-top: 10px;
            a.active {color:$red!important}
            a:last-child {border-bottom:none}
            a {
                width: 100%;
                height: auto;
                cursor: pointer;
                text-align: center;
                display: block;
                margin: 0;
                padding: 16px 0;
                cursor:pointer;
                color:$black!important;
                opacity:0.6;
                @include font(300, .7rem, 'latobold');
                text-transform: uppercase;
                border-bottom: 1px dashed $lightGrey;
            }
            a:hover {text-decoration: none!important}
            a.active {
                opacity:1;
            }
        }
    }
}