@import "variables";
@import "mixins";
@import "images";

html {
    body.projects {
        background-size: 100%;
        font-family: 'latoregular'; 
        font-size: .75rem; 
        margin: 0; 
        padding:0;
        .App {
            overflow: hidden;
            letter-spacing: .04rem;
            .container-fluid {
                background:$white; 
            }
            .container-fluid.fullwidth {
                padding-right:0!important;
                padding-left:0!important;
                .row {
                    margin-right:0;
                    margin-left:0;
                    padding-right:40px;
                    padding-left:40px;
                }
            }
            h4 {
                color:$black;
                @include font(600, 0.9rem); 
                margin: 0 0 6px 0;
                text-transform: uppercase;
                letter-spacing: .2rem;
            }
            figure:hover { 
                a {opacity:1;} 
                .tint {
                    @include transition(all 0.2s ease-in);
                    opacity:0.6;
                }
            }
            figure {
                margin: 0;
                position: relative;
                overflow: hidden;
                .tint {
                    @include transition(all 0.2s ease-in);
                    position: absolute;
                    background:$jetBlack;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
                a {
                    color:$white;
                    text-transform: uppercase;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    opacity: 0;
                    margin: 0;
                    padding-top: 25.5%;
                    border:none;
                    h3 {
                        color:$white;
                        letter-spacing: .2rem;
                        font-size: .85rem;
                    }
                    p {
                        letter-spacing: .2rem;
                        font-family:'latolight';
                        font-size: .65rem;
                        color:$white;
                    }
                }
            }
            .banner.umg-active {
                nav.projects-menu ul {
                    li:nth-child(1) a {
                        color:$white;
                        i {display: block;}
                    }
                }
            }
            .banner.turner-active {
                nav.projects-menu ul {
                    li:nth-child(2) a {
                        color:$white;
                        i {display: block;}
                    }
                }
            }
            .banner.bbc-active {
                nav.projects-menu ul {
                    li:nth-child(3) a {
                        color:$white;
                        i {display: block;}
                    }
                }
            }
            .banner.monum-active {
                nav.projects-menu ul {
                    li:nth-child(4) a {
                        color:$white;
                        i {display: block;}
                    }
                }
            }
            .banner.setanta-active {
                nav.projects-menu ul {
                    li:nth-child(5) a {
                        color:$white;
                        i {display: block;}
                    }
                }
            }
            .banner.guinness-active {
                nav.projects-menu ul {
                    li:nth-child(6) a {
                        color:$white;
                        i {display: block;}
                    }
                }
            }
            .banner {
                background-position: center center;
                background-repeat: no-repeat;
                position:fixed;
                left:0;
                right:0;
                top:0;
                nav.downloads-menu {
                    position: absolute;
                    top:60px;
                    right:60px;
                    ul {
                        padding: 0;
                        li {
                            display: block;
                            margin:0 0 2px 0;
                            text-align: right;
                            a:hover {color:$white!important}
                            a {
                                color:$red!important;
                                font-family: 'latoregular';
                                letter-spacing: .05rem;
                                font-size: .65rem;
                            }
                        }
                    }
                }
                nav.projects-menu {
                    position: absolute;
                    z-index: 1;
                    h4 {color:$white; font-size: .8rem; font-family:'latolight'}
                    ul {
                        padding:0;
                        li {
                            font-size: .65rem;
                            position: relative;
                            a:hover {color:$white}
                            a {
                                color:#888;
                                font-family: 'latoregular';
                                letter-spacing: .05rem;
                                i {
                                    display: none;
                                    width:7px;
                                    height:7px;
                                    border-top:1px solid $white;
                                    border-right:1px solid $white;
                                    transform: rotate(45deg);
                                    position: absolute;
                                    left: -14px;
                                    top: 3px;
                                }
                            }
                        }
                    }
                }
                /* Projects Headers */
                .projects-header {
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    position: absolute;
                    bottom: 25px;
                    left: 0;
                    right: 0;
                    h1 {color:white;}
                    p {
                        text-transform: uppercase; 
                        font-size: .6rem; 
                        text-align: left; 
                        line-height: 1.1rem; 
                        margin:0; 
                        padding:0;
                        color:#999;
                        letter-spacing: .2rem;
                        label {float:left; clear:left; width:100%; text-transform: uppercase; color:#ff0049}
                    }
                    h3 {
                        text-align: left; 
                        margin: 0 0 3px 0; 
                        padding: 0 0 3px 0; 
                        border-bottom:1px dashed #666; 
                        width:100%; 
                        float:left;
                        text-transform: uppercase;
                        color:white;
                        font-family: 'latolight';
                        letter-spacing: .3rem;
                        font-size:.8rem;
                        font-weight: bolder;
                    }
                    ul {
                        margin:0 60px; 
                        padding: 0; 
                        float:none;
                        li {display:block; margin: 0; padding: 0; width: 25%; float:left}
                    }
                } // end projects header
            }
            /* Links */
            a {color:#00a3cc; text-decoration: none}
            a:hover {color:#252525; text-decoration: none}
            /* Lists */
            ul li { margin: 0 0 10px 0}
        
            /* Text */
            h1 {font-family: 'latobold'; font-size: 1.5rem; text-transform: uppercase; letter-spacing: .4rem; color:#ff0049}
            h2 {font-family: 'oraqlescript'; font-weight: lighter; margin:25px 0 10px 0}
            h3 {color:#ff0049; font-family: latobold; font-size: 1rem}
            p {line-height: 1.5rem; margin-top: 0}
            p label {width:100%; color:#ff0049; margin-bottom: 0; font-size: .95rem; letter-spacing: .05rem;}
        
            /* Layout */
            img.to-the-right-edge {float:right; margin-right:-90px}
            .row {
                margin-right: 0;
                margin-left: 0;
            }
    
            /* Helpers */
            .w-25 {width:25%}
            .w-50 {width:50%}
            .height-1000 {height: 1000px}
            .absolute-right {position: absolute; right:0;}
        } // end App
    } // end projects
} // end html

/* ------------------------------------------------- Project Specific ------------------------------------------------ */

html {
    // UMG
    body.umg {
        .App {     
            img.personas { width:100%; margin-top:-160px }
            img.pdf { width: 12px; margin: -3px 5px 0 0 }
            .row {
                .red-panel {
                    background-color: $red;
                    padding-top: 20px;
                    color:$white;
                    h4 {color:$white}
                }
            }
        .container-fluid {
            background:$white url('../images/clients/pages/umg/background.png') no-repeat 0 0;
            background-size:100%;
        }
        .banner {
            background-image: url('../images/clients/pages/umg/banner.png');
            background-color: $jetBlack;
            }
        }
    }

    // Turner
    body.turner {
        .App {
            img.personas {width:100%; margin-top:-160px}
            .row {
                .red-panel {
                    background-color: $red; 
                    color:$white;
                    label {color:$white}
                }
            }
            .container-fluid {
                background-size:100%;
                img.batman {
                    width:170%;
                    margin-top:-96px;
                    vertical-align: middle;
                    border-style: none;
                    position: absolute;
                    z-index: 1;
                }
                .row.carousel {
                    overflow: hidden;
                    max-height: 200px;
                    margin: 30px 0 -160px 0;
                    border-top: 1px dashed $yellow;
                    background: #fcfcff;
                    img {
                        width: 100%;
                        margin-top: -10px;
                    }
                }
                .row.ctn-ntw {
                    padding-top:80px;
                    background-color:$crimson;
                    img.adv-time {
                        position: absolute;
                        top: -240px;
                        right: 395px;
                        width: 400px;
                    }
                }
                .row.scooby {
                    min-height: 400px;
                    margin-top: 123px;
                    padding-top:100px;
                    p, h4 {color:$white}
                    h4 {white-space: nowrap;}
                    img.scooby-van {
                        position: absolute;
                        top: -230px;
                        left:-40px;
                    }
                }
                .row.as {
                    padding-top:80px;
                    background-color:$crimson;
                }
            }
            .banner {
                background-image: url('../images/clients/pages/turner/banner.png');
                background-color: $jetBlack;
            }
        }
    }

    // BBC
    body.bbc {
        .App {
            .container-fluid {
                background:$white url('../images/clients/pages/bbc/tyre-marks-grey.png') no-repeat;
                background-position: top right -322px;
                background-size: 1200px;
                .row {
                    margin-right: 0 !important;
                    margin-left: 0 !important;
                    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                        padding-right:10%;
                        padding-left:10%
                    }
                }
                .row.youtube {
                    position: relative;
                    ul {
                        position: absolute;
                        top: 82%;
                        left: 34%;
                        width: 100%;
                        li {
                            display: inline-block;
                            width: 20%;
                            margin-right: 10%;
                            p, h4 {color:$white}
                        }
                    }
                }
                .row.topgear-grouped {
                    margin-top:-100px;
                }
            }
            .banner {
                background-image: url('../images/clients/pages/bbc/banner.png');
                background-color: $jetBlack;
            }
        }
    }

    // Monum
    body.monum {
        .App {
            .banner {
                background-image: url('../images/clients/pages/monum/banner.png');
                background-color: $jetBlack;
                background-position: center bottom 63px!important;
            }
        }
    }

    // Setanta
    body.setanta {
        .App {
            .banner {
                background-image:url('../images/clients/pages/setanta/banner.png');
                background-color: $jetBlack;
            }
        }
    }
     // Guinness
     body.guinness {
        .App {
            .banner {
                background-image:url('../images/clients/pages/guinness/banner.png');
                background-color: $jetBlack;
            }
        }
    }
} // end html