@import "variables";
@import "mixins";
@import "images";

.sub-header {
    position:fixed;
    height:60px;
    z-index:2;
    top:50px;
    left:0;
    right:0;
    padding:12px 40px 12px 60px;
    transition: all 0.5s ease;
    h1 {color:$h1; margin:0 0 5px -2px; @include font(100, 48px)}
    img, .sub-nav {display:none}
    .intro {
        color:$intro;
        font-size: 9px;
        display: inline-block;
        width: 420px;
        position: absolute;
        top: 17px;
        margin: 0 0 0 20px;
        border-left: 1px solid $grey;
        padding: 0 0 0 12px;
        height: 80px;
        line-height: 15px;
    }
    .project-details {
        .title {display:none}
    }
    .work {display:none}
    h1.menu-title {left:60px; color:$darkGrey}
    h1 {
        color:$white;
        position: absolute;
        left: 280px;
    }
    section {float:left}
    section.project-details {
        margin:20px 0 0 20px;
        @include font(300, 9px);
        margin: 0 0 0 50px;
        border-left: 1px solid $grey;
        color:$intro;
        height: 87px;
        padding: 0 0 0 20px;
        width:420px;
        line-height:16px;
        section {padding:2px 0 0 0}
    }
}