$header: #252525;
$footer: #20232a;
$body: #292c34;
$links:#478ce9;
$Hover:#e73f3b;
$copy:#eee;
$nav:#fff;
$h1:#20232a;
$h2:#e73f3b;
$para:#20232a;
$aside:#eee;
$subNav:#363636;
$subNavLinks: #999999;
$subNavActive:#db5555;
$Marker:#e73f3b;
$subHeader:#252525;
$white:#fff;
$intro:#999;
$darkBlue:#0569d8;
$red:#e73f3b;
$aside:#e6e6e6;
$tableHead: #bbbbbb;
// greys
$black: #252525;
$darkGrey: #666666;
$paleGrey:#f4f4f4;
$lightGrey:#ddd;
$grey:#444;
$midGrey:#999;